[2014-02-14 12:28] steckerhalter opened #1 "Installing some pkgs via init produces an error"
So running this command works in a running Emacs:

[code]

But having the same command in the init file produces:

[code]

weird that it is saying "parsing a tar file" because it's just an .el:

magit-filenotify-20131018.1155.el

I assume the webserver delivers the wrong content type.

[2014-02-14 12:33] steckerhalter opened #2 "use lightweight web-server instead of elnode"
options:
- https://github.com/eschulte/emacs-web-server
- https://github.com/skeeto/emacs-web-server

[2014-02-14 13:15] wasamasa opened #3 "Add additional keywords for package building"
As for now one of the goals of `quelpa` is to be able to use existing MELPA recipes without a hitch. This is accomplished by using the same package building library MELPA uses. To avoid breakage, any desirable extra functionality could be added by extending the allowed keywords.

One possible use case would be `:version`, a keyword that allows overriding the version of the created package. Another

[2014-02-14 13:16] steckerhalter opened #4 "quelpa command should optionally upgrade"
currently if a package is already installed it will not be touched.
- add a function parameter that will enable upgrading
- add a defcustom that can enable upgrading for all quelpa commands
- compare the current version with the remote without checking out (needs to be built on top of package-build)
- checkout, build, and install when there is a new version

[2014-02-14 14:52] wasamasa opened #5 "Better bootstrapping"
At the moment it's necessary to use MELPA or manual installation to prepare the server and package-build package before installing `quelpa`. To avoid hackery à la `el-get`, these single-file packages will be downloaded to temporary buffers with `url-retrieve-synchronously`, then properly installed with `package-install-from-buffer`. The exact procedure will be documented either in the `README` or

[2014-02-14 15:06] wasamasa opened #6 "Add an optional plist argument to the quelpa function"
`quelpa` accepts one argument currently, a recipe in the MELPA format. It would be nice to make it fetch a MELPA recipe if that argument happens to be a string. If an optional plist argument is supplied, `quelpa` will try to modify the fetch and/or build process accordingly. See `helm` and `helm-parse-keys` for an implementation.

Examples:

[code]

[2014-02-14 15:46] steckerhalter opened #7 "maintain a recipe index on disk -> quelpa-upgrade"
after a package has been built and installed we wouldn't know how to upgrade it because we don't store the recipe.

we could create a local index of recipes when packages are installed, allowing us to have `quelpa-upgrade` which would upgrade all registered packages

[2014-02-14 22:53] #2 closed, assigned to steckerhalter

[2014-02-15 09:03] #1 closed, assigned to nobody

[2014-02-15 10:51] #5 closed, assigned to steckerhalter

[2014-02-15 11:29] steckerhalter opened #8 "quelpa has a dependency problem"
when removing MELPA from the `package-archives`, a lot package dependencies are missing so quelpa fails if the package to be installed depends on a package that is not installed

how do we handle dependencies? I think we just have to cache the melpa recipes locally and install any dependencies first using the recipes

[2014-02-15 14:29] steckerhalter opened #9 "list quelpa dependencies in readme"
for example we need git to checkout the melpa repo...

[2014-02-15 15:06] steckerhalter opened #10 "improve first melpa checkout speed"
git allows to do shallow clones that are much faster:

[code]

`pb/checkout-git` does a normal clone. probably we could just rewrite that function to do shallow clones. you never really need the history for this use case.

[2014-02-15 17:47] #8 closed, assigned to nobody

[2014-02-15 17:49] #9 closed, assigned to nobody

[2014-02-16 00:09] steckerhalter opened #11 "nrepl-eval-sexp-fu fails to install"
recipe:
[code]

it fails at this function:
[code]

I checked and the buffer is inserted correctly. Seems like an issue with `package-buffer-info`

[2014-02-16 08:58] steckerhalter opened #12 "add command to remove packages from the archive"

[2014-02-16 09:00] steckerhalter opened #13 "the bootstrap code should also upgrade quelpa"
the user should always get the latest version

[2014-02-16 16:07] #6 closed, assigned to nobody

[2014-02-17 00:07] wasamasa opened #15 "Establish compatibility with emacs 24.3"
Since the `README` clearly states that Emacs 24.3 or higher is required, but quelpa only runs on Emacs from trunk, all errors occurring with Emacs 24.3 should be addressed.

[2014-02-18 17:48] wasamasa opened #17 "Add CI (Travis?)"
Since all cool kids on the block use fancy badges to show whether the build is passing or not. If we'll set up one, we'll have to check first whether tests with Emacs from trunk are supported. In case it isn't, #15 has to be fixed first.

[2014-02-19 20:15] #17 closed, assigned to nobody

[2014-02-19 20:24] #15 closed, assigned to steckerhalter

[2014-02-21 13:49] steckerhalter opened #19 "Find better tagline"
so  currently we have:

which is
1. deprecated soon because we will remove the PA part
2. not making very clear what quelpa does

[2014-02-22 19:40] #13 closed, assigned to wasamasa

[2014-02-22 19:50] steckerhalter opened #21 "make quelpa command interactive"
[code]

and so on... no support for recipes I guess.

[2014-02-22 19:53] #12 closed, assigned to nobody

[2014-02-22 22:00] wasamasa opened #22 "quelpa does no longer handle invalid MELPA recipe names gracefully"
When `quelpa` encounters an invalid MELPA recipe name, it quits with a traceback line the one below. IIRC this was handled better before merging the upgrade branch.

[code]

[2014-02-24 08:38] steckerhalter opened #23 "helm-projectile error"
[code]

[2014-02-25 18:02] #23 closed, assigned to nobody

[2014-02-25 18:05] steckerhalter opened #24 "bootstrapping should not use fixed names"
since "quelpa.el" is saved to /tmp another user on the same OS cannot bootstrap quelpa because he cannot overwrite the other file

[2014-02-25 18:28] #24 closed, assigned to nobody

[2014-02-25 18:29] #22 closed, assigned to nobody

[2014-02-25 18:30] #4 closed, assigned to wasamasa

[2014-02-26 22:12] #21 closed, assigned to wasamasa

[2014-03-01 17:09] #7 closed, assigned to nobody

[2014-03-02 10:07] steckerhalter opened #27 "check for needed cli tools"
instead of just failing hard quelpa should check if the required cli tool (like `hg`) is available first and print a message that the user needs to install that first

[2014-03-02 11:38] #19 closed, assigned to nobody

[2014-03-02 12:14] steckerhalter opened #28 "using a recipe index"
currently there is the `quelpa-cache` that saves recipes for the current session and allows upgrades of the cached items

what I could envision is an index that can be used in several ways...

I'm thinking about an alist of the form:

[code]

the user could put that into a file which quelpa uses to install/upgrade packages. so instead of having `quelpa` commands all over the init file (like me). t

[2014-03-02 22:57] priyadarshan opened #29 "`el-get` recipes"
Would it be possible at all to add `el-get` recipe syntax as one of the supported sources? https://github.com/dimitri/el-get/tree/master/recipes

Their usefulness lies in the ability to also handle external commands, in order to install complicated packages. See for example `bbdb`:
https://github.com/dimitri/el-get/blob/master/recipes/bbdb.rcp

I cannot help with code, but I would be very happy to

[2014-03-03 06:30] #10 closed, assigned to wasamasa

[2014-03-09 21:45] wasamasa opened #31 "Invalidate the package cache"
After a package has been deleted (manually or with package.el) it can't just be reinstalled because it's still in the cache. It would be nice if quelpa can do a quick check and invalidate these parts of the cache when necessary.

[2014-03-09 21:49] wasamasa opened #32 "Extra fetchers"
The only fetchers left would be for single files (maybe directories?) and archives. Both kinds should be supported locally (say you're testing a package residing in your dotfiles before uploading it on github or testing a version of a package before pushing) and remotely (to avoid putting packages hosted online into proper VCS repositories). [It doesn't look like MELPA will support this](https://g

[2014-03-09 21:55] wasamasa opened #33 "Better versioning"
This might be a long shot, since we're intentionally doing things differently compared with MELPA if it gets implemented.

One of the gripes people had with MELPA is that the packages it (or rather package-build.el which `quelpa` happens to use) produces have the timestamp of the last VCS commit as version. This doesn't play terribly well, a better approach might be to use the original version num

[2014-03-09 22:32] wasamasa opened #34 "Add a package for testing purposes to the quelpa organization"
As soon as we do tests of packages that got updates a test package under our full control would be useful. It doesn't even need to contain code at all, just all meta data required.

[2014-03-11 09:14] wasamasa opened #35 "Hunt for uncommon el-get recipes"
I've cloned both melpa and el-get, then used this to obtain the following gist:

    comm -23 <(ls el-get/recipes/ | sed 's/\.rcp//' | sort) <(ls melpa/recipes/) > el-get-recipes.txt

https://gist.github.com/wasamasa/9482155

Let the hunt for uncommon, buggy or just weird el-get recipes begin!

[2014-03-11 09:15] #29 closed, assigned to nobody

[2014-03-14 11:18] wasamasa opened #37 "More tests"
The existing tests make sure installation with every fetcher type supported works. We'd need some more to test the cache, tricky corner cases (like stuff that's not supposed to ever install) and whether new features (like upgrade being a global *and* local option) work as expected. Ideally at least one before pushing something new.

[2014-03-29 22:45] wasamasa opened #42 "Add support for stable MELPA packages"
MELPA finally approached Marmalade with that feature. [See this commit](https://github.com/milkypostman/melpa/commit/b350df249cd124fc376e991e57e9d072d490a072). I envision this as an extra keyword that only does something when specifying a MELPA recipe.

    (quelpa 'magit :stable t) ; grabs stable release
    (quelpa '(magit) :stable t) ; grabs stable release, too
    (quelpa '(magit :hurr durr) :

[2014-03-30 11:50] steckerhalter opened #44 "distributed index"
A package index should not:

- take control away from the developer or package maintainer
- depend on a single server or provider

currently the idea to do this is:

- the dev/maintainer controls/hosts the recipe by putting a special file into his own repo
- if there is no such special file, the index won't list that repo
- the index does not store the recipes
- if an entry in the index has had th

[2014-04-06 13:33] steckerhalter opened #46 "(void-function help-function-arglist)"
It seems that `help-fns` is not available on Emacs 24.3.1 sometimes and bootstrapping fails with an error.

shout out to ktosiek from #emacs who brought it up...

[2014-04-06 14:13] #46 closed, assigned to nobody

[2014-04-08 04:42] steckerhalter opened #48 "`Symbol's value as variable is void: package-build-stable`"
[code]

getting this suddenly when starting Emacs

[2014-04-09 06:49] alezost opened #49 "Malformed :keywords in ...-pkg.el"
I've just tried:

[code]

and got the following compilation warning:

[code]

Here is `ducpel-pkg.el`:

[code]

And that gives an error during starting emacs.

I think it should be the following:

[code]

[2014-04-09 07:15] #49 closed, assigned to nobody

[2014-04-11 08:01] wasamasa opened #51 "`\.\.\.` ends up in cache"
Where does it come from? What does it mean? It definitely shouldn't be there and seems to be the last thing in the cache as everything after that is truncated.

[2014-04-11 08:04] wasamasa opened #52 "Cache doesn't work in an "additive" way"
The cache gets read in at once from a file and its state written to disk, assuming that its state is correct and a superset of the previous state on disk. This is somewhat dangerous to assume. It would be better if the state would be compared with the disk state before writing and merged.

[2014-04-11 08:06] wasamasa opened #53 "Package purging command"
Quelpa just keeps installing extra packages when you upgrade or just test stuff like with the soon to be merged url fetcher. All previous packages are marked as outdated in `M-x package-list`. It would be nice to have a command that does this task or even a setting that purges them for you after every build.

[2014-04-19 01:13] mbriggs opened #55 "Bootstrapping"
Thanks for quelpa, nice to have an el-get alternative :)

Is there a reason quelpa is re-downloaded every time emacs starts?  This requires an internet connection, and is kind of slow. What would be the consiquences of local bootstrapping?

[2014-04-19 15:14] mbriggs opened #56 "Bootstrapping requires internet to work"
I have been using quelpa for over a month, launched it many times times, installed using the recommended method. It is set up like this (https://github.com/mbriggs/.emacs.d/blob/master/init/init-bootstrap.el#L23). Version is `GNU Emacs 24.4.50.1 (x86_64-apple-darwin13.1.0, NS apple-appkit-1265.19)
 of 2014-04-01` Works fine when launching with internet (although it downloads the gist every time wh

[2014-04-19 15:15] #55 closed, assigned to nobody

[2014-04-19 15:33] #56 closed, assigned to nobody

[2014-04-21 14:51] midurad opened #57 "Updating quelpa/build/package-build .."
Hi,

I have followed the installation outlined in the readme file. Quelpa is working, however, it takes few seconds to update quelpa/build/package-build directory at startup. Is this normal? So far I only have one extension managed by quelpa.

[2014-04-26 14:59] #57 closed, assigned to nobody

[2014-05-16 08:03] ghost opened #58 "Add an option to disable updating quelpa and package-build on startup"
In the documentation there is a snippet to disable self-update of quelpa on startup,
unfortunately:
1. doing so doesn't put quelpa repo in the cache file, so it can't be updated manually with `quelpa-upgrade'.
2. package-build is still being auto upgraded on startup (which slows emacs startup).

Please consider adding an option to disable quelpa and package-build self-upgrades and allowing for the

[2014-05-24 16:19] #58 closed, assigned to nobody

[2014-07-25 13:01] priyadarshan opened #62 "Fetching non-elpa-complying library?"
Is it possible to fetch a non-elpa-complying library?

I tried to fetch `fill-adapt`:

[code]

but I get `Lisp error: (error "Package lacks a file header")`

In other words, is there a way to install a library without have it to be pre-packaged?

Thank you again for `quelpa`, a life-saver!

[2014-08-29 09:20] #62 closed, assigned to nobody

[2014-10-14 13:06] v6 opened #63 "Warnings"
Upon installation, I got the following warnings:

![screenshot from 2014-10-14 06 05 41](https://cloud.githubusercontent.com/assets/5750764/4629322/d618a6fc-53a2-11e4-8263-003543e6bb75.png)

I'm sort of new to emacs.

My .emacs:
http://hastebin.com/usiqopojaq.lisp

[2014-10-17 05:16] #63 closed, assigned to nobody

[2015-02-06 20:03] #53 closed

[2015-02-06 20:03] #52 closed

[2015-02-06 20:04] #48 closed

[2015-02-06 20:05] steckerhalter commented on #44
once upon a time...

[2015-02-06 20:05] #44 closed

[2015-02-06 20:06] steckerhalter commented on #42
who wants stable stuff anyway?

[2015-02-06 20:06] steckerhalter commented on #37
write tests or subdue

[2015-02-06 20:06] #37 closed

[2015-02-06 20:06] #35 closed

[2015-02-06 20:07] #34 closed

[2015-02-06 20:07] #33 closed

[2015-02-06 20:07] #32 closed

[2015-02-06 20:08] #31 closed

[2015-02-06 20:09] #28 closed

[2015-02-06 20:09] #27 closed

[2015-02-06 20:09] #11 closed

[2015-02-06 20:10] #3 closed

[2015-02-06 20:11] wasamasa commented on #51
Did this get magically fixed or why did you decide to close nearly every issue that was left open?

[2015-02-06 20:12] steckerhalter commented on #51
clean slate kind of thing. feel free to reopen if you want to work on somehing :)

[2015-02-06 20:13] steckerhalter commented on #51
but don't bother if it's just to keep issues open and not doing anything...

[2015-02-06 20:14] wasamasa commented on #51
Thanks for the information, would be a good idea to reopen them once I'm on to something since my elisp skills substantially improved compared to when I started working on Quelpa.

[2015-02-06 20:18] steckerhalter commented on #51
sure, if you'd like to work on an issue, reopen it. I can do some reviewing etc.

[2015-03-10 10:56] bricewge opened #65 "Fail to upgrade and self-upgrade"
I stumble upon this issue when I was switching my `.emacs.d` from `el-get` to `quelpa`. And it's still present when I use only the self-upgrading bootstrap snippet code from `README.md`.
The issue appear after I start emacs for the second time (ie: after the creation of the`~/.emacs.d/quelpa`), the `*Messages*` buffer contain this:
[code]
`quelpa-upgrade` and `quelpa-self-upgrade` failed in the sa

[2015-03-10 21:01] steckerhalter commented on #65
I'm not yet sure what is going on exactly there. The relevant code bits are:

[code]

so `package-build-checkout` fails which is part of package-build.el from melpa: https://github.com/milkypostman/melpa/blob/master/package-build.el#L241

can you find out what is passed in as `name` `config` and `dir`?
try to use edebug https://www.gnu.org/software/emacs/manual/html_node/elisp/Using-Edebug.html#Us

[2015-03-10 21:07] steckerhalter commented on #65
apparently upgrading packages fails, so you could try:

[code]
if you evaluate this expression (and company is not yet installed) it would work, the second time it would fail. is that so?

[2015-03-10 21:36] steckerhalter commented on #65
ok, so here is the error coming from (`package-build.el`):

[code]

it runs `git remote show -n origin` in `dir` and tries to find the fetch url:

[code]

so in your case the git command doesn't work or does something unexpected (`Search failed` means that it couldn't find `Fetch URL...` in the git output

[2015-03-10 23:16] bricewge commented on #65
Oooh, I see.
[code]
A dirty fix was to add to my init.el `(setenv "LC_ALL" "C")`. I'll report this to melpa.
Thanks for the quick reply!

[2015-03-10 23:16] #65 closed

[2015-03-11 20:09] bricewge opened #66 "Error on some packages: Package lacks a "Version" or "Package-Version""
Installing `outorg` from `quelpa` fail. But it is present in MELPA, installing it from there work and also with `package-install-file`. Moreover the "Version" it complain about is already present in `outshine.el`. I get the same issue when installing `outorg-export`.

Evaluating `(quelpa '(outorg) :upgrade t)` give me the following return by the debugger:
[code]

[2015-03-11 21:23] steckerhalter commented on #66
I can't reproduce the issue with outorg yet (install works), but outorg-export also fails for me. I think it has something to do with the `~/.emacs.d/quelpa/packages/outorg-export-readme.txt` (which of course doesn't have a file header, but I'm not yet sure.

[2015-03-11 21:32] steckerhalter commented on #66
nope, that wasn't the case.

the problematic code is:

[code]

Isolated from https://github.com/quelpa/quelpa/blob/master/quelpa.el#L159

When I try to open the file manually it asks me about local variables that are risky and I need to confirm the loading, I think that might be the issue here.

[2015-03-11 21:41] steckerhalter commented on #66
The code for `package-buffer-info` (emacs internal function) tries to find the package header like this:

[code]

And this seems to fail for `outorg-export.el` so there's something fishy with that header:

[code]

[2015-03-11 21:46] wasamasa commented on #66
It's missing the third dash?

[2015-03-11 21:56] steckerhalter commented on #66
@wasamasa yes, I think that's the issue.

[code]

from http://www.gnu.org/software/emacs/manual/html_node/elisp/Library-Headers.html

[2015-03-11 22:04] steckerhalter commented on #66
@bricewge for outorg, can you remove it with `M-x list-packages` and try like that:

[code]

[2015-03-11 22:26] bricewge commented on #66
My bad I didn't test this on a clean `.emacs.d` without my config.
I had already found the missing dash earlier but it didn't solve the issue when my config is loaded and this kind of issue should return `"Package lacks a file header"`.
Looks like the issue come from my side. Sorry for this inconvience.

[2015-03-11 22:26] #66 closed

[2015-03-14 22:19] bricewge opened #67 "quelpa-upgrade remove repository when using :branch argument"
When calling `quelpa-upgrade` with this code `(quelpa '(magit :repo "magit/magit" :branch "next" :fetcher github) :upgrade t)` the cloned repository get deleted and I got those messages:
[code]
This only happen when explicitly using `quelpa-upgrade`, the upgrade during the loading of the configuration work, it return:
[code]
I think it come from the `:branch` argument but I'm not sure.

[2015-03-15 09:03] steckerhalter commented on #67
looking at this line `Quelpa: failed to checkout 'magit': 'Command '(env LC_ALL=C /usr/bin/timeout -k 60 600 git clone git://github.com/nil.git /home/bricewge/.emacs.d/quelpa/build/magit/)' exited with non-zero status 128: Fetching origin`

it's trying to clone `git://github.com/nil.git` which won't work of course :)

looking at https://github.com/milkypostman/melpa#recipe-format `:branch` seems t

[2015-03-15 12:57] bricewge commented on #67
I reproduced it two time yestarday, but I didn't managed to reproduced it today, I don't know why...
When the bug occur, the cache file was containg this:
[code]

[2015-03-15 12:57] #67 closed

[2015-04-01 17:57] wasamasa commented on #51
I have a horrible suspicion why it happens.

I'm using `prin1-to-string` to serialize the list of cache items which is subject to truncation as determined by `print-level` and `print-length`.  This doesn't explain why it happens in the first place (both variables seem to be unset in both Emacs 24.3 and 24.4), but could be a plausible explanation. It's time to reopen this!

[2015-04-02 13:55] #51 closed

[2015-04-02 13:55] wasamasa commented on #51
Let's hope this never happens again to me.

[2015-04-03 17:50] steckerhalter commented on #42
All it needs to build stable is:

[code]

why should it be ignored on a custom recipe?

[2015-04-03 19:23] wasamasa commented on #42
You're right, on custom recipes tags may be used as well.  I assume my intent when I've opened this ticket was providing an extra option additionally to the existing `:update` one that modifies the build behaviour.

[2015-04-06 17:45] steckerhalter opened #69 "cache contains duplicates"
[code]

only one recipe should be left in the cache for a package and the others removed

[2015-04-06 20:05] wasamasa commented on #69
The problem lies within the use of `add-to-list` for adding the expanded recipe of the last package installed unconditionally to the cache.

It would be better if the `quelpa` function would first search for occurrences of the recipe to be added with something like `cl-find` by its `car`. If it doesn't find such a thing, it should `push` the new element into the list. If it finds such a thing, it

[2015-04-06 20:21] steckerhalter commented on #69
sounds good to me, maybe the second option is cleaner?

[2015-04-06 22:04] wasamasa commented on #69
Apparently, using `cl-find` isn't even necessary for this.

[2015-04-08 10:02] bricewge opened #71 "Magit next branch need to be compiled with make"
I need to use the coming 2.1 version of Magit, so I was using this `(quelpa '(magit :repo "magit/magit" :branch "next" :fetcher github) :upgrade t)`. Unfortunately this is now throwing this issue `error: Required feature 'magit-autoloads' was not provided` and to generate the `magit-autoloads` you need to use `make` which Quelpa can't do as far as I know.

The use of `make` in Quelpa has already b

[2015-04-08 10:06] wasamasa commented on #71
How exactly does MELPA build Magit then, considering their policy on using Make?

[2015-04-08 11:08] steckerhalter commented on #71
I use the next branch myself and it works without an issue. Be sure to remove old magit versions first and also git-* modes. Then restart emacs so there is nothing left of the old magit.

[2015-04-08 14:11] bricewge commented on #71
@steckerhalter: I just did what you said, it doesn't fix the issue, I still get the same error. Did you update magit recently? I only stumble upon this error some days ago.

@wasamasa: I don't know, you should ask @tarsius if you want to know how they will build magit-2.1 for MELPA.

[2015-04-08 14:41] steckerhalter commented on #71
@bricewge yes, I switched to `next` 4 days ago.  just tried again. that change must have happened in the meantime then.

[2015-04-08 15:01] steckerhalter commented on #71
I don't understand why magit is building an autoload file via make and then requiring that. Aren't autoloads just working without any further ado?

Maybe @tarsius can say more about that :smile:

[2015-04-08 15:06] steckerhalter commented on #71
my workaround:

[code]

using `next` just before the makefile change was introduced

[2015-04-08 17:00] tarsius commented on #71
Well that change comes with a length commit message: https://github.com/magit/magit/commit/0fb98c2c89ce9e94301f7f3b671f255fbc3c3e9a. Note especially the last bullet point. Since the Makefile is not relevant (should not be) when using `package.el` it boils down to:

[code]

This should not be evaluated when compiling `magit.el`. When compiling another file it unfortunately is, but `magit-autoloads`

[2015-04-08 17:08] tarsius commented on #71
Autoloads only do something if they are loaded obviously - if one does not use Elpa then that does not happen automatically. So magit does it itself, but if that fails it just loads the remaining libraries as a fallback (or at least that was the intention). These libraries have to be either loaded or autoloaded because the commands they define are used in `magit-mode-map`.

[2015-04-08 18:30] steckerhalter commented on #71
yes, I was referring to ELPA compiling automatically. the weird thing is that the soft-require is causing an error (I was looking into that but made a mistake and thought it's hard-required). so that might even be an Emacs bug,

[2015-04-08 18:35] steckerhalter commented on #71
@tarsius great work btw on magit, thanks for that

[2015-04-08 18:40] steckerhalter commented on #71
![screenshot from 2015-04-08 20 43 19](https://cloud.githubusercontent.com/assets/3024024/7052544/85bc5a56-de2f-11e4-846c-ba50ef50d254.png)

[2015-04-08 21:38] tarsius commented on #71
Ah, I think that happens when a file exists, but does not provide the appropriate feature.

[2015-04-09 20:12] steckerhalter commented on #71
@bricewge the correct recipe for magit `next` seems to be (works for me with HEAD):

[code]

`magit-autoloads.el` has to be excluded because it causes the above error (it's only needed when using `make` and not with ELPA)

[2015-04-09 20:12] #71 closed

[2015-04-09 20:59] tarsius commented on #71
That  should do it: https://github.com/magit/magit/commit/1219202e8937128fdc4cc9e87400a8aa232917fd

@steckerhalter I don't think what you are doing is correct. `magit-autoloads.el` isn't a file tracked in thhe git repository. It generated by `package.el` (apparently without containing a `provide` from).

[2015-04-09 21:20] steckerhalter commented on #71
@tarsius ok, thanks. the :exclude does not alter the checkout but makes he build process ignore that file so in then end it does not end up in the .tar and hence doesn't cause the error

but your fix doesn't make that necessary I guess

[2015-04-09 21:22] steckerhalter commented on #71
confirmed that now it also works with:

[code]

[2015-04-10 10:01] bricewge commented on #71
Thanks all! Magit 2.1 is now working fine with Quelpa.
[code]

[2015-05-15 00:40] jaccarmac opened #72 "Quelpa use and self-upgrading does not work on Windows."
In attempting to move from a Unix to a WIndows environment while keeping my Emacs configuration, I have run into a series of problems with my use of Quelpa in my `init.el`. I am using the Windows build of Emacs, not the Cygwin version.

The first error I ran into was with some code in `package-build` not being able to find the `env` command. I traced it to [this line](https://github.com/milkypostm

[2015-05-15 05:44] steckerhalter commented on #72
I tried to use it with the Windows build (24.4) too but gave up after getting to this weird tar problem you also describe.

The Windows build also had an error with SSL and couldn't clone git (I fixed that somehow). Is that now ok?

I switched to the cygwin build which worked for the most part but I didn't have to use Windows to code afterwards (privately I only have and use GNU!/Linux).

I will c

[2015-05-15 06:03] jaccarmac commented on #72
The SSL error is due to missing DLLs, which you have to "patch" (as in copy the files into your installation) manually. Bummer if Cygwin is the only way to make it work; I've used it in the past but it has problems of its own.

[2015-05-16 11:43] steckerhalter commented on #72
The culprit seems to be in the function pb/build-multi-file-package: https://github.com/milkypostman/melpa/blob/master/package-build.el#L1164

It returns the path to the built .tar but the tar isn't really there so later on quelpa cannot open the tar file of course.

[2015-05-16 11:45] steckerhalter commented on #72
I also found out that installing git for windows with the option of making additional unix tools available does provide `env` without any further steps necessary.

[2015-05-16 14:31] steckerhalter commented on #72
so after some more digging here is the problem:

[code]

tar fails...

[2015-05-16 16:43] steckerhalter commented on #72
[code]
rewrites the path so `c:/` is turned into `/c/`

[2015-05-16 16:56] steckerhalter commented on #72
but that's not the end of the story. the next problem is indeed the windows file encoding. in quelpa we do the same thing like here in the emacs core:

[code]
then we (and emacs core) use `(package-buffer-info)` to get the info. but on windows the line endings make that fail hence you get "package lacks a version...".

to sum it up:

melpa's `package-build` would need to be fixed, then these place

[2015-05-16 18:18] steckerhalter commented on #72
After pondering this a bit more I found further issues with line-endings. I don't think it makes much sense trying to fix all of this when the Cygwin build pretty much works out of the box.

I'm going to advice that people use the Cygwin build and will write a few instructions how to install that.

[2015-05-16 19:24] steckerhalter commented on #72
## Emacs Installation Instructions for Windows:

### Install Cygwin

Download either the 64-bit or 32-bit setup file from http://cygwin.com/install.html
It is usually better to install Cygwin just for the current user, not system-wide.

- open the location where you downloaded the setup executable
- press shift and right-click -> open command prompt here

Run for example:

    setup.exe --no-admin

[2015-05-17 09:37] steckerhalter commented on #72
@jaccarmac I had an idea yesterday. The EOL problems are due to Git for Windows checking out the repos with CRLF which is the default setting (in the installer). If you choose to make Git no touch EOL the problem does not occur. So `.gitconfig` should have this:

[code]
Then the only problems are `env` and `tar` in `package-build`. My tar fix works with the MingGW version of tar, but not the cygwi

[2015-05-18 23:45] jaccarmac commented on #72
Hmmm, I believe I tried the `core.autocrlf` fix, but maybe I got messed up by the fact that Git uses different `.gitconfig` files for native and Cygwin, even if you run the same EXE. I'll give native Emacs a try with the MinGW tools from Windows Git.

[2015-05-19 00:06] jaccarmac commented on #72
Waow. I somehow messed up setting `autocrlf`. Everything appears to be in order for the moment, outside the hack that is attaching `env` to the system path.

[2015-05-19 00:06] #72 closed

[2015-05-19 00:19] jaccarmac commented on #72
Were you planning on submitting the `package-build` patch to milkypostman/melpa or should I?

[2015-05-19 08:38] steckerhalter commented on #72
Well, I think it's more like a hack currently. We should make `env` unnecessary for Windows and find a better way to solve the tar issue. I will try to make a PR.

[2015-05-19 09:28] steckerhalter commented on #72
So I think I found out if `tar` from here is used: http://gnuwin32.sourceforge.net/packages/gtar.htm

(you also need the dependencies in the zip)

Then it works without any modification. Can you verify that?

[2015-05-20 16:21] jaccarmac commented on #72
Not sure what you mean by "without any modification". Without the updated `create-tar`, it still fails for me. With the updated function it works with both Git and Gnu versions of `tar`.

[2015-05-20 20:44] steckerhalter commented on #72
ok, that's why I asked you to verify it because I couldn't believe it somehow :)

I probably had some code still active with the modified `create-tar`, thanks

[2015-06-16 09:34] wasamasa commented on #69
As #70 is merged, I'm closing this.

[2015-06-16 09:34] #69 closed

[2015-06-16 10:19] wasamasa commented on #42
Any special updates now that the referenced task is complete?

[2015-06-24 19:20] steckerhalter commented on #42
done with #68

[2015-06-24 19:20] #42 closed

[2015-07-11 10:38] vyp opened #74 "error: pathspec 'snippets' did not match any file(s) known to git."
[code]

Happens when doing `quelpa-upgrade`, whilst having this recipe for yasnippet:

[code]

from https://github.com/milkypostman/melpa/blob/master/recipes/yasnippet.

I'm not sure if this is a quelpa issue though, but I'm not sure how to debug/fix it. `~/.emacs.d/quelpa/build/yasnippet/snippets` exists and is being tracked by git.

[2015-07-11 12:00] steckerhalter commented on #74
I tried installing yasnippet with the recipe above and used `quelpa-upgrade` but didn't get any error.

Is it actually trying to do an upgrade or just checking? The error seems to be coming from git (I couldn't find anything related to "entering" or "stopping" in either quelpa or package-build).

What does `quelpa-cache` contain (C-H v quelpa-cache RET) related to yasnippet?

[2015-07-11 12:11] vyp commented on #74
`quelpa-cache` for yasnippet:

[code]

Yes, that's a git error, it usually happens the path/file is unstaged/untracked. I still don't know what exactly is going on here (because I'm new to emacs, unfamiliar with like everything), but I think it's just trying to check (for updates?). (Does quelpa check for updates, before updating?) Because I only installed yasnippet via quelpa (using that recipe)

[2015-07-11 12:19] vyp commented on #74
Also note that the snippets directory in yasnippet is a submodule, which may or may not be relevant. My understanding is that it's an optional repository that holds many default snippets for yasnippet. Optional because you do not need to install it to install yasnippet. However, I think the melpa recipe has `"snippets"` because it is expected to be installed by default too. (Not sure.)

[2015-07-11 12:24] steckerhalter commented on #74
Ok. If you can reproduce it, look at edebug http://www.gnu.org/software/emacs/manual/html_node/elisp/Edebug.html with which it might be possible to find out what is going on.

From what you are saying about the submodule it might be related to that:

[code]

you see that `package-build` it tries to run `git submodule update --init --recursive`

what happens if you do this in a shell?

[2015-07-11 12:41] vyp commented on #74
Nothing, essentially (exits with 0 status). That makes sense I think because the submodule has already been checked out the first time I installed it.

The error still happens with `quelpa-upgrade` for me. If you can't reproduce it, this is probably then neither an issue with quelpa nor yasnippet, meaning it would have to be some strange artifact of my system. I am using git 2.4.5 and emacs 24.5.1

[2015-07-11 12:41] #74 closed

[2015-07-11 13:08] vyp commented on #74
You know when you run `quelpa-upgrade` and it fetches origin for updates (at least for git sources)? That is when it happens... (Does quelpa fetch origin itself, or something else? I don't see quelpa trying to fetch anywhere in the source code.)

Also, this is a side thing, but I'm a bit lost on how to start using edebug for say `quelpa-upgrade`? Say I `eval-defun` it, then calling `M-x quelpa-upg

[2015-07-11 13:24] steckerhalter commented on #74
these things happen in `package-build` which is the library that MELPA uses to build their packages which they serve in their package-archive. quelpa uses the same library to build the packages locally.

On this system I'm using emacs 24.4.1 and git 2.1.4

try M-x find-function package-build--checkout-git RET

It think that's the function where the problem occurs. So you would run `M-x edebug-defu

[2015-07-11 15:13] vyp commented on #74
This actually gives more information about it (at emacs startup) which doesn't come up with `quelpa-upgrade`:

[code]

so the line that seems to fail is https://github.com/milkypostman/melpa/blob/6425fa7c188f7fe6bb102de7ef5a803a89b8f5c3/package-build.el#L544

So this might actually be a package-build bug (the line looks like it was introduced just a couple of days ago too!), I'm going to open an i

[2015-07-11 15:26] steckerhalter commented on #74
ok, so didn't have the latest `package-build` on my system then. I get the same error after updating it.

[2015-07-11 17:50] vyp commented on #74
For anyone that cares, a workaround that should work for yasnippet at least, is to remove `"snippets"` from the above recipe and follow https://github.com/AndreaCrotti/yasnippet-snippets/tree/master#how-to-install. Besides the snippets submodule in yasnippet is quite outdated right now.

That doesn't solve what seems to be a bug in package-build though.

[2015-07-12 08:29] steckerhalter opened #75 "Trigger travis build to detect errors due to changes in package-build.el"
`package-build.el` is being changed quite often and currently we have no automated way to detect braking changes (like the namespace change a few weeks ago).

Probably something here could be useful: http://stackoverflow.com/questions/17606874/trigger-a-travis-ci-rebuild-without-pushing-a-commit

Ideally it would send us an email if the build fails...

[2015-07-12 09:27] steckerhalter commented on #75
I've setup a cronjob with https://github.com/travis-ci/travis.rb that runs once every night and triggers a rebuild of the latest job on master:

[code]

travis never sent me email for failed builds so that's something to look into. @wasamasa do you get emails for failed quelpa builds?

[2015-07-12 09:38] steckerhalter commented on #75
Ok, that's weird. it says it ran the build again: https://travis-ci.org/quelpa/quelpa
But in the log it uses an old package-build version:

[code]

I'll check tomorrow when the cron has run

[2015-07-12 11:32] steckerhalter commented on #75
So Travis was showing me the old log (because I'm using Policeman to block all kinds of external scripts):

[code]

so then there is just the question if emails are going to be sent or not if it fails

[2015-07-12 12:16] wasamasa commented on #75
No, I'm not getting any mail notifications either.

[2015-07-13 18:38] steckerhalter commented on #75
I think it was because I hadn't verified the email for the build account. I did that now. Automated build worked this night so we will see what happens if it fails later (hopefully).

[2015-07-19 07:23] wasamasa commented on #75
Still no notification. I've seen that you added some related commits, did you gather new insights meanwhile?

[2015-07-19 07:34] steckerhalter commented on #75
Yeah, I have received an email for the latest build. If you want you can add your email in .travis.yml as well (see http://docs.travis-ci.com/user/notifications/ for config, maybe it needs some tweaking)

[2015-07-19 07:34] #75 closed

[2015-07-19 08:00] wasamasa commented on #75
I'd like receiving mail notifications for build failures only which is possible to customize, but apparently only for all mail addresses listed. Would you be ok with that?

The other thing I've noticed is that Travis supports IRC notification. Assuming we'd both hang out on `#emacs-quelpa` (or something else like that), it would be useful to get at least these notifications and maybe more, like fo

[2015-07-19 08:30] steckerhalter commented on #75
Yeah, sure.

I'm not using IRC anymore, but feel free to add whatever notifications you'd like to have.

[2015-07-25 12:51] wasamasa opened #76 "Revisit bootstrapping"
IIRC the current bootstrapping method was chosen to both conform to [el-get](https://github.com/dimitri/el-get#the-lazy-installer) and because [MELPA's package-build](https://github.com/milkypostman/melpa/blob/master/package-build.el) library wasn't available as standalone package. Can this design decision be reconsidered now that [package-build](https://github.com/milkypostman/melpa/blob/master/r

[2015-07-25 13:10] vyp commented on #76
That's what I was thinking, I have this:

[code]

(instead of `(quelpa-self-upgrade)` as it says in the readme) in my .emacs which seems to update quelpa too using itself when doing `quelpa-upgrade`. And ideally I do not even want to temporarily (or initially) rely on MELPA to install quelpa.

It's not that I have anything against melpa or even think it's "unreliable" or whatever, it's that being

[2015-07-25 13:17] wasamasa commented on #76
Hmm, I didn't formulate this as clearly as I should have.  I'm in favour of providing an alternative installation method alongside the current one.  This would both solve the issue of bootstrapping looking like something from http://curlpipesh.tumblr.com/ and make it simple to get started for MELPA users.

[2015-07-25 13:20] vyp commented on #76
Yes if it's just an additional method that utlises the melpa package-build package for installation, I don't see anything wrong with it. Quelpa will update package-build from then on anyway right? So it *shouldn't* cause any self-upgrade issues correct?

[2015-07-25 15:56] steckerhalter commented on #76
I think at the time quelpa was started package-build.el had a dependency on another file (json-something...) in the melpa repo so I thought it's safest to just fetch the package-build `tar` from melpa.milkbox.net and install that.

In the meantime the dependency was dropped and just `package-build.el` is enough so bootstrapping *could* be made simpler by doing something like @vyp does

The problem

[2015-07-25 16:40] vyp commented on #76
Yes I agree, I just realised if package-build changes upstream to require other packages, simply doing something like loading it temporarily will still fail. i.e. it doesn't scale.

@steckerhalter Although do notice that what I have loads in bootstrap.el as normally suggested in the readme if quelpa isn't already installed. I only mentioned that because it means I don't have to do `quelpa-self-upg

[2015-07-26 07:20] steckerhalter commented on #76
@vyp yes, boostrap.el fetches package-build from the melpa package-archive and installs that via `package-install-file`

`quelpa-self-upgrade` is:

[code]

so essentially it's what you have in your config. the reason I put it into a function is that we can change it if it should be necessary where otherwise it's hard coded in the user's config

[2015-07-26 16:23] wasamasa commented on #76
So, does that mean it's sufficient to add Quelpa to MELPA and extend the installation instructions to mention installing Quelpa from MELPA as an alternative to the current bootstrapping method?

[2015-07-26 19:54] steckerhalter commented on #76
Yes, I think so. Probably a sane way to do it would be:

1. add to MELPA
2. add some tests that bootstrap using MELPA
3. make some tests locally to check for possible issues
4. if everything works: add instructions

[2015-07-26 21:17] aw1621107 opened #77 ""Search failed: Last edited <regex>" causes checkout of goto-chg to fail"
This happens both with my full init.el and a bare-bones bootstrap + `(quelpa 'evil)` init.el. Running emacs 25.0.50.1, and tried it on 24.5 also. Running zsh on OS X 10.11. I tried the fix that worked for #65, but it didn't seem to do anything.

[code]

If more information is required I'll be happy to provide it.

[2015-07-27 08:24] wasamasa commented on #77
Hmm, can't even get `goto-chg` to build here:

[code]

[2015-07-27 09:22] wasamasa commented on #77
It does work on a test branch with Travis, so it must have been me screwing up my local test. Could you provide more information about your Emacs setup and perhaps pastebin the build files Quelpa did fetch?

[2015-07-27 13:28] aw1621107 commented on #77
....Well, it seems I can't reproduce the issue any more. Don't remember changing anything, so not really sure why things are working all of a sudden. Guess this means issue closed?

[2015-07-27 14:11] wasamasa opened #78 "Pruning stale branches"
I've removed two of my own branches as one had no more of a purpose and the other was merely for testing purposes. https://github.com/quelpa/quelpa/branches lists a few more stale branches, are they good to go as well?

[2015-07-27 18:11] steckerhalter commented on #78
I don't think we need any of them...

[2015-07-27 18:18] wasamasa commented on #78
Not even the Github Pages one?

[2015-07-28 16:58] steckerhalter commented on #78
don't think so... just deleted them all

[2015-07-28 16:58] #78 closed

[2015-07-29 05:04] steckerhalter commented on #76
so the first step is done: http://melpa.org/#/quelpa

[2015-07-29 08:41] priyadarshan opened #79 "Using quelpa more"
I have been using `quelpa` for quite some time, and I am so happy such a well thought out package tool exists in the Emacs ecosystem.

I was wondering if it is possible to have `quelpa` transparently take over some `package.el` functionalities?

I would be especially interested in:

- having @jwiegley's `(use-package somepackage :ensure t)` use `(quelpa 'somepackage)`, instead of default package s

[2015-07-29 09:01] wasamasa commented on #79
Regarding the former, https://github.com/jaccarmac/quse-package

I'm not sure of the benefits of the latter. `M-x list-packages` list pre-built packages available from existing archives. Quelpa builds packages from scratch (and uses MELPA's recipes by default). Would you envision something like an extra keybinding that looks up the name of the package at point, checks whether it's in MELPA, fetche

[2015-07-29 09:13] vyp commented on #79
@wasamasa But use-package still works with quelpa right? (Disregarding `:ensure`.)

[2015-07-29 09:14] vyp commented on #79
Answered my own question, sorry I missed https://github.com/jaccarmac/quse-package/blob/master/quse-package.org.

[2015-07-29 09:33] priyadarshan commented on #79
Thank you, `quse-package` is exactly was I was looking for.

Regarding the rest, personally I would prefer to have all my packages managed via `quelpa`, not going through built-in Emacs package system at all.

While keeping `quelpa` as simple as possible, would it still be possible perhpas to defavice some `package` functions, so that a few actions one chooses via the built-in system (install, del

[2015-07-29 09:39] Malabarba commented on #79
@wasamasa

What do you mean? The archives only offer package sources, and compilation happens at the user's computer.

Btw, I'd be happy to take PRs on Paradox for that

[2015-07-29 10:00] wasamasa commented on #79
@priyadarshan Quelpa only offers a function for building and installing a package. While you can install/update by just calling the Quelpa form again (like, by putting it in your init file or using `M-x quelpa`) or upgrade all packages with `M-x quelpa-upgrade` (which runs the Quelpa function on all cached installation invocations), there is no intention of going beyond that, so you'll need to use

[2015-07-29 10:12] Malabarba commented on #79
Yes, sorry. I read that too quickly. :)

[2015-07-29 11:00] vsrepo commented on #79
Thank you for clarifying that. I shall work on it.

[2015-07-29 18:30] steckerhalter commented on #79
I was just having a look at the `use-package` docs. It can be extended with custom handlers and it shouldn't be too hard to add a handler similar to `:ensure` for quelpa: https://github.com/jwiegley/use-package/blob/master/use-package.el#L421

[2015-07-29 21:25] steckerhalter commented on #79
here's a first shot at it:

[code]

possibly buggy... so beware! :)

[2015-07-30 06:50] priyadarshan commented on #79
@steckerhalter Thank you, this is wonderful, I will try it for a few hours and let you know.

I rather prefer this approach than the macro approach, as I prefer to maintain the same synatx (`use-package` vs `quse-package`)

[2015-07-30 08:29] priyadarshan commented on #79
@steckerhalter It works very well! Thank you so much.

[2015-07-30 11:17] steckerhalter commented on #79
My pleasure... note that `(push :quelpa use-package-keywords)` isn't optimal since it puts the keyword first (even before :disabled). That should be fixed (or the custom edited manually).

[2015-07-30 11:41] priyadarshan commented on #79
Among the `quelpa` users I think quite a few also use `use-package`. It would be great for them to be able to access this code somehow.

Perhaps as separate tiny repository, or even a gist?

A proper MELPA package would be of course ideal.

Thank you once again.

[2015-07-30 13:13] steckerhalter commented on #79
I'll first check if it can be merged into `use-package` directly

[2015-07-30 22:11] aw1621107 commented on #77
Aaand now it's happening again, but to open-junk-file. Fun.

[2015-07-31 04:35] steckerhalter commented on #77
I'm just guessing but to me it this:

[code]

looks like it tried to download `goto-chg` from emacswiki and then fails to parse the file (probably because the download returned and empty file?). This would explain that it only happens sometimes.

And since `open-junk-file` is also from emacswiki it supports my  theory :)

[2015-07-31 07:28] steckerhalter commented on #77
I'm getting the same error with `open-junk-file`. The download url is http://www.emacswiki.org/emacs/download/open-junk-file.el which **should** deliver plain elisp but instead it returns html which of course cannot be processed further.

[2015-07-31 07:35] wasamasa commented on #77
Delivers plain text for me here. Must be the wiki randomly acting up.

Oh and us using a wiki for code hosting. That's just terribad.

[2015-07-31 07:37] steckerhalter commented on #77
Did you check in the browser? It just *looks* like plain text...

[2015-07-31 07:38] steckerhalter commented on #77
I mean it's html with the code wrapped in <pre></pre>

[2015-07-31 07:50] wasamasa commented on #77
Yes, I've verified it in Firefox' network tab.

[2015-07-31 07:58] steckerhalter commented on #77
And if you download in Emacs? `(switch-to-buffer (url-retrieve-synchronously "http://www.emacswiki.org/emacs/open-junk-file.el"))`

[2015-07-31 08:30] wasamasa commented on #77
Well, would you look at that.

[2015-07-31 08:42] steckerhalter commented on #77
Well, I get back HTML in the browser and in Emacs. Even using different ISPs.

@aw1621107 can you run:

[code]

in Emacs *scratch* buffer and see if the content ist HTML or not?

[2015-07-31 08:59] vyp commented on #77
FWIW I get HTML too when doing:

    (switch-to-buffer (url-retrieve-synchronously "http://www.emacswiki.org/emacs/open-junk-file.el"))

Figured it would help that more people confirm it. But in my browser it looks to be plain text (even with view source and when doing "Save Page As"). How do I check the mime type in a browser?

[2015-07-31 09:02] wasamasa commented on #77
`Ctrl-Shift-Q` to open the network tab, then redo the request with `F5`.

[2015-07-31 09:02] vyp commented on #77
@steckerhalter But when doing:

   (switch-to-buffer (url-retrieve-synchronously "http://www.emacswiki.org/emacs/download/open-junk-file.el"))

as in the first time you linked it, I get plain text (i.e. elisp with a header). http://www.emacswiki.org/emacs/open-junk-file.el *is* a html page in the browser (rendered). Is this supposed to be plain text with `url-retrieve-synchronously`?

[2015-07-31 09:08] vyp commented on #77
@wasamasa Thanks it just says type "plain". Assuming that just means "text/plain".

[2015-07-31 09:19] steckerhalter commented on #77
It seems to vary. Now I get plain text on one system and HTML on another (I was referring to the actual content not the content-type).

I **believe** it was html content on the system that now shows just text

[2015-07-31 10:41] wasamasa commented on #77
Now I get it in HTML, too. Let's bug @nicferrier about this.

[2015-07-31 10:43] wasamasa commented on #77
Um. Are you sure you're not mixing up http://www.emacswiki.org/emacs/download/open-junk-file.el with http://www.emacswiki.org/emacs/open-junk-file.el or something other silly like that?

[2015-07-31 10:59] steckerhalter commented on #77
right, sorry, I pasted in the wrong link into the code snippet. I'll check again

[2015-07-31 11:06] steckerhalter commented on #77
anyways, I can't reproduce it now. this morning I got:

[code]

and now I can install `open-junk-file` without any errors.

[2015-07-31 11:12] steckerhalter commented on #77
ok, it's happening again now in: https://github.com/milkypostman/melpa/blob/master/package-build.el#L307

[code]

debugging this tells me `wiki-url` is:

     "http://www.emacswiki.org/emacs/open-junk-file.el"

so the wrong url is in `package-build` ?

[2015-07-31 11:22] wasamasa commented on #77
package-build.el is using `wiki-url` to retrieve metadata (and `download-url` for the file to actually retrieve), so maybe the issue is that the metadata does not always show up...

[2015-07-31 14:07] steckerhalter commented on #77
oh yes, I see what you mean. I assumed it's the code that is fetched there but it's just trying to find `Last-edited` and that's what it cannot find sometimes.

[2015-07-31 14:22] aw1621107 commented on #77
@steckerhalter At this time it looks like regular elisp, and quelpa seems to have installed it without any problem when I booted up emacs.

[2015-07-31 14:35] steckerhalter commented on #77
@aw1621107 Yes, apparently the issue is not the elisp itself but the metadata that is fetched from emacswiki before that. It seems that sometimes it does not contain the `Last edited` string which it is trying to find (which is usually on the bottom of the page http://www.emacswiki.org/emacs/open-junk-file.el)

[2015-07-31 20:48] steckerhalter commented on #79
@priyadarshan made a repo here: https://github.com/quelpa/quelpa-use-package
I'd like to wait a bit with adding it to MELPA since it hasn't been tested much (and I'm not using `use-package` myself yet)

[2015-08-01 05:49] priyadarshan commented on #79
Thank you so much for the repository, and for the code. Quite instructive!

[2015-08-01 09:46] steckerhalter commented on #79
you're welcome. I just tweaked it a bit so that the `:quelpa` handler follows `:if` and `:requires` meaning that quelpa is not executed if the requirement is not fulfilled.

can we close this issue then?

[2015-08-01 11:21] priyadarshan commented on #79
Yes, this issue can be closed on my part. Thanks again, to all the `quelpa` team.

[2015-08-01 11:51] #79 closed

[2015-08-06 08:34] steckerhalter commented on #77
looks like this a problem with the emacswiki, can we close it?

[2015-08-06 08:35] wasamasa commented on #77
Let's at the very least open an issue on its bug tracker before closing this.

[2015-08-06 08:38] deepfire opened #82 "Quelpa fail to update a package from local git"
The following fails to recompile the package, when it was changed -- in my case commit amended:
[code]
This sort of kills the local interactive flow of development that I hoped Quelpa would facilitate..

[2015-08-06 10:01] steckerhalter commented on #82
Try with url format?

[code]

[2015-08-06 12:07] deepfire commented on #82
Didn't make any observable difference..

[2015-08-06 12:19] deepfire commented on #82
Seems like `quelpa-setup-p` returns NIL.

[2015-08-06 13:04] wasamasa commented on #82
Hmm, it should work if you've managed checking out MELPA previously...

[2015-08-06 13:46] steckerhalter commented on #82
[code]

otherwise it's trying to update the melpa repo via github

[2015-08-06 17:52] zovt opened #83 "quelpa-package-install seems to be failing"
Here's how I'm calling quelpa from my .emacs.d:
[code]
And here's the error I'm receiving:
[code]

I should note that this is only happening once quelpa has been successfully installed.

EDIT: It seems this is to do with quelpa-package-install, since I can't install any packages right now. I'm using Windows currently if that helps.

[2015-08-06 18:07] zovt commented on #83
So I just installed the `tar` binary from GnuWin32, which fixed one error, but now I'm getting another.

[code]

[2015-08-06 18:23] zovt commented on #83
Welp, I totally missed the install section for Windows. My bad.

[2015-08-06 19:40] zovt commented on #83
So I followed the guide (somewhat, I deviated a bit) for windows. I installed 64-bit emacs from chocolatey and then grabbed the MSYS DLLs and tar from their individual packages instead of installing MSYS, but I'm still getting the error. Do I need to install MSYS to my system for it to work?

[2015-08-06 19:49] wasamasa commented on #83
Try It And See™

[2015-08-07 05:01] steckerhalter commented on #83
To me it looks like it's still a tar problem then (it can't open the .tar as you can see in the message). Maybe you could follow the guide as it is or try the cygwin approach (which is much easier)?

[2015-08-07 07:43] deepfire commented on #82
@steckerhalter, I have tried `quelpa-update-melpa-p` to be both T and NIL.

Now I can't make quelpa update from local git at all, for some reason.. internet connection or not..

[2015-08-07 07:45] deepfire commented on #82
`file:///` wasn't the good URL for git, after all, plain path works much better.

[2015-08-07 07:47] deepfire commented on #82
Disregard my message about non-`file:///` URI working better -- still can't get updates from local git to work.

[2015-08-07 07:56] deepfire commented on #82
To make it clear -- the following doesn't update the package, if I change HEAD in the git repo:
[code]
It does "update" it, if I manually remove the package from `~/.emacs.d/elpa/`.

[2015-08-07 09:10] steckerhalter commented on #82
Well, it only updates if the commit date is newer than the installed one (the version number is taken from the git commit date, this is what [package-build](https://github.com/milkypostman/melpa/blob/master/package-build.el) (the melpa build library) does

[2015-08-07 09:34] deepfire commented on #82
Aha, so amending the commit is supposed to facilitate the update, I see..

[2015-08-07 16:20] zovt commented on #83
Could be. I'll do some more testing later on. I'll close it for now so you can focus on important issues :wink:.

[2015-08-07 16:20] #83 closed

[2015-08-07 16:55] steckerhalter commented on #83
allright, also make sure you have the correct git config (no conversion of line-endings) since this breaks everything

[2015-08-07 18:38] steckerhalter commented on #77
I don't know... it was probably a temporary glitch and currently cannot be reproduced

[2015-08-08 17:04] deepfire commented on #82
And indeed it does works as you say!

Closing the issue -- thanks a lot!

[2015-08-08 17:04] #82 closed

[2015-08-08 17:08] deepfire opened #84 "Error on first invocation of quelpa for a local git repo"
Here's what I have in my ~/.emacs:
[code]
..and here's what I get, on the first emacs startup after updating the repository -- the second startup is ok:
[code]

[2015-08-08 17:32] steckerhalter commented on #84
Hmm, it might be that `async-bytecomp` is interfering... I once had trouble with that as well: https://github.com/jwiegley/emacs-async/issues/47

Looks like the same error.

To keep `async-bytecomp` from advicing `package--compile`:

[code]

before you require `helm-config` (or wherever `async-bytecomp` is required from)

[2015-08-08 17:34] steckerhalter commented on #84
It's a good example why one shouldn't advice core emacs stuff outside of the personal init file.

[2015-08-08 17:49] deepfire commented on #84
..and indeed, you are right again -- `(setq async-bytecomp-allowed-packages nil)` fixed the problem!

Closing, since it's not a Quelpa issue.

[2015-08-08 17:49] #84 closed

[2015-08-18 16:00] TheBB commented on #1
Hi @steckerhalter, we're having some problems at https://github.com/syl20bnr/spacemacs/issues/2688 with a similar symptom, but maybe a different cause. Have you seen anything like this?

[2015-08-18 19:20] steckerhalter commented on #77
If it happens again we can still open up a an issue...

[2015-08-19 19:09] steckerhalter commented on #77
so now I got it:

[code]

on http://www.emacswiki.org/emacs/open-junk-file.el

so the info `package-build` is trying to get `Last edited ...` is in japanese currently

[2015-08-19 19:20] aw1621107 commented on #77
FWIW `goto-chg` is also [in japanese](http://www.emacswiki.org/emacs/GotoChg)

[2015-08-23 06:11] steckerhalter commented on #77
I have made a PR so the date is fetched directly from the http headers when the file is fetched the first time. With this the html is no longer even loaded or considered:

https://github.com/milkypostman/melpa/pull/3038

[2015-08-23 06:11] #77 closed

[2015-09-05 14:57] DarthBlack opened #90 "Compilation warnings"
I'm getting warnings when I'm running emacs for the first time after adding
[code]
to my init.el file.

Compile log:
[code]

[2015-09-05 18:19] steckerhalter commented on #90
Hi. Nothing to worry about, these are compiler warnings which means that on compiling the .el into .elc the byte compiler is warning that something **could** be wrong. That's what most compilers do. They try to guess from the information they have.

We support Emacs 24.3 and 24.4 hence there are different functions calling conventions for either version and for example on 24.3 the compiler will wa

[2015-09-07 07:08] steckerhalter commented on #90
I'm closing this since it is normal behavior by the byte compiler and not a bug/error

[2015-09-07 07:08] #90 closed

[2015-09-25 12:59] syl20bnr opened #93 "Asking for information about Quelpa capabilities"
We have integrated Quelpa into Spacemacs, I open this issue in hope to save some time to gather what need to be done in Quelpa to support Spacemacs requirements.

1- Does Quelpa support fetching a specific branch of a git repo ? A specific commit ?
2- Does Quelpa support package dependencies ?
3- Is Quelpa already providing an ELPA archive file ?

Thank you for Quelpa and for taking time to answer

[2015-09-25 13:01] vyp commented on #93
1. Yes.
2. Yes.
3. Not sure (wait for quelpa devs to answer).

[2015-09-25 13:04] vyp commented on #93
https://github.com/milkypostman/melpa/#recipe-format is how to get a specific branch/commit.

For dependencies, the `;; Package-Requires:` line is used. Currently these dependencies have to be on MELPA because quelpa will fetch the MELPA recipe for a package to build it.

[2015-09-25 13:17] wasamasa commented on #93
@syl20bnr Quelpa uses `package-build.el`.  Therefore, it supports anything that library supports, including checking out specific Git branches and commits.  Package dependencies can be grabbed automatically if they are present on MELPA, otherwise you'd need to have them installed beforehand from whatever other place they come from.  Regarding the last thing, this sounds like you're misunderstandin

[2015-09-25 13:27] syl20bnr commented on #93
Thank you for your answers.
If a package X is not on MELPA but its dependencies are on MELPA, Quelpa will fetch them from it, am I right ?
In the case where X depends on Y and both are not on MELPA then Quelpa won't fetch Y, is this correct ?
The correct way to handle the second cases is to install Y before X which makes sense because someone as to provide a recipe for Y anyway.

From the MELPA re

[2015-09-25 13:35] vyp commented on #93
1. Correct.
2. Correct.
3. Correct.
4. I don't think you should need nested recipes. You should be able to just specify the dependency's recipe beforehand (if you want a custom recipe not on MELPA that is). I'm not a quelpa dev, but in my opinion, nested recipes seem like an ugly way to handle things.

[2015-09-25 13:39] syl20bnr commented on #93
Thank you for the quick answers.
Nested recipes allow to keep things tied together instead of listing package dependencies as they were stand alone packages. It forces to put a comment on package dependencies if we don't want to forget about it in a few months :-)
We can handle it on the Spacemacs side so no big deal if Quelpa maintainers are not interested by this feature.

[2015-09-25 13:49] vyp commented on #93
In my opinion, you should be able to just specify recipes without worrying about the dependency tree, which package-build/quelpa should deal with *for you*. However, I also understand that having to specify a dependency's recipe before the actual package's recipe as I said in the previous comment is also related to worrying about the dependency tree.

A possible solution here may be https://github

[2015-09-25 13:55] syl20bnr commented on #93
After reading your message it seems to me that my request is Spacemacs specific. The way packages and recipes are declared in Spacemacs make the approach you describe not ideal. But the approach described fit perfectly with Quelpa and address the dependency issue really well for any non Spacemacs users of Quelpa.

[2015-09-25 14:09] vyp commented on #93
Ah I don't know anything about how packages are handled in spacemacs, mind explaining how it works? Also I want to reiterate that nothing I say is final, I'm not a quelpa developer, and it is all just in my opinion.

FWIW I recently switched my emacs config to work with a custom recipe directory option as #91 provides, if you want to see what I mean: https://github.com/vyp/ui/tree/8df945749080f7d8

[2015-09-25 14:12] syl20bnr commented on #93
In spacemacs we have a list of packages with keywords:

Fetch from ELPA repos:
[code]

Local package on disk:
[code]

Fetch from a github repo:
[code]

Now if we want dependencies it is just a matter of adding a keyword argument:
[code]

[2015-09-25 14:15] syl20bnr commented on #93
Note that we don't want to use Quelpa recipe everywhere, this is why we have `local` location (which obey a given structure of what we call `layers`). Layers in Spacemacs are both plain dumb and very expressive, we are able to make hundreds of packages configuration live well together with it.

[2015-09-25 14:20] vyp commented on #93
This is some pretty interesting stuff. Especially about how you want to list a package and its dependencies as a single group.

I'm not following, isn't a dependency of a package another package that it requires to function? If so, shouldn't the dependencies be specified upstream in `;; Package-Requires` line anyway? Why would a user need to manually specify a dependency?

Or is it simply because

[2015-09-25 14:22] syl20bnr commented on #93
We have to provide Y location anyway right ? And I don't want it to appear explicitly in the package-list because we don't configure it.

[2015-09-25 14:23] syl20bnr commented on #93
Remember that Y is not in MELPA.

[2015-09-25 14:29] vyp commented on #93
You probably already know this, but it may be worth mentioning that el-get supports a `:depends` keyword in its recipes. Of course, el-get is a different system from quelpa altogether, so I cannot help much further with that.

If I understand correctly, spacemacs has some sort of custom list-packages function (assuming `M-x list-packages` cannot already do this), in which you want to list only the

[2015-09-25 14:33] syl20bnr commented on #93
Actually people manipulates layers instead of packages (there is also the possibility to add directly a package). Each layer has its own package list where only configured packages are listed. Dependencies are handled by packages.el but in this particular X and Y use case we need a way to express these deps ourselves.

[2015-09-25 14:47] vyp commented on #93
Ah I see, a bit more complicated. This layers approach is a very cool and interesting way to configure things! :)

I guess if you think it's a spacemacs-specific scenario, it would be best to keep this in spacemacs. But really the decision lies with @steckerhalter and @wasamasa. And maybe putting it in quelpa makes things easier for you, or is it mostly the same either way? (sometimes putting a fe

[2015-09-25 14:52] vyp commented on #93
Ah I see you have already addressed my last point: https://github.com/milkypostman/melpa/issues/2944#issuecomment-131576539.

[2015-09-25 15:35] syl20bnr commented on #93
Sorry package.el and not packages.el (which are Spacemacs specific :-)). Actually this is package.el which does the heavy lifting to take care of dependencies, this is even more the case in Emacs 25 where package.el has got a lot of improvement in this regard.

[2015-09-25 15:36] syl20bnr commented on #93
More info here: http://endlessparentheses.com/new-in-package-el-in-emacs-25-1-better-dependency-management.html

[2015-09-25 15:41] vyp commented on #93
@syl20bnr Thanks for the link, that's exactly what I was complaining about. Good to know it's better in the latest version.

[2015-09-25 17:40] steckerhalter commented on #93
@syl20bnr quelpa uses the dependency info in the elisp header, for example: https://github.com/magit/magit/blob/master/lisp/magit.el#L17

if there are any dependencies not available it fetches the recipe from melpa's recipes directory (which is being checked out in quelpa's build directory) and installs them recursively (meaning if a dependency package requires further dependencies it will first i

[2015-09-25 17:43] syl20bnr commented on #93
But in the case where X depends on Y and both X and Y are not in any archive then the user has to provide a recipe to specify where to fetch Y.

[2015-09-25 17:44] syl20bnr commented on #93
Since I don't use directories of recipes on purpose then reusing the recipe of the root package makes sense to me.

[2015-09-25 17:52] steckerhalter commented on #93
if you do `(quelpa 'magit)` it will lookup the recipe for magit in the recipes directory (or a variable if that feature was added) and also for all the dependencies

how do mean "reuse the recipe of the root package"?

[2015-09-25 17:57] syl20bnr commented on #93
Doing something like

[code]

Doing this is for the extrem use cases where both `package`, `deps1` and `deps2` are not in any archive and even package could be some random code without the dependencies correctly defined.

I can handle this on the Spacemacs side with a `:deps` new keyword arguments for packages where I first call. Actually this is what I will do because we don't use quelpa 100% of

[2015-09-25 18:23] steckerhalter commented on #93
I see, just as a sidenote, random code that does not have a valid header and footer (according to https://www.gnu.org/software/emacs/manual/html_node/elisp/Simple-Packages.html#Simple-Packages) cannot be installed with quelpa ( `package.el` which is used under the  hood to install the built packages also errors out if the format is invalid).

if `(package-buffer-info)` works then the file should b

[2015-10-03 07:45] steckerhalter commented on #93
Looks like this is answered? Otherwise reopen... thanks

[2015-10-03 07:45] #93 closed

[2015-10-12 11:04] vyp commented on #82
@deepfire FYI I forgot to tell you about https://github.com/quelpa/quelpa#file. It was basically inspired by this issue. (see #91 for details)

[2015-12-02 22:59] bricewge opened #96 "automatically install a package even if it's built-in"
This is a follow up of quelpa/quelpa-use-package#4

I use `quelpa-use-package` for getting `tramp` which is a built-in package of Emacs, so it isn't installed automatically because of it is already present.

Could you add support to automatically install a package from `quelpa` even if it's already present without forcing it to upgrade every time?

[2015-12-03 01:40] vyp commented on #96
Basically, I think there needs to be a way to differentiate between a package that's already installed and available from being bundled with emacs, and one that's been installed via quelpa (i.e. package.el). So the distinction from `:upgrade t` is that it doesn't try to install/upgrade if quelpa has already installed it.

Perhaps, is there an api/function to check the list of packages that package

[2015-12-03 01:44] vyp commented on #96
Ah right, the status `built-in` vs `installed` can be used.

[2015-12-03 01:54] vyp commented on #96
So see the `describe-package` and `describe-package-1` functions...

[2015-12-03 07:36] steckerhalter commented on #96
I think quelpa should always prefer the user's package over a built-in one (which is not the case currently). If we make it work like that there isn't even any keyword necessary.

So if you have `org` installed it would check if there is only the builtin version and if so it would go ahead and try to install the user's package.

I can't think of any conflict or problem right now. If I want to inst

[2015-12-03 08:19] vyp commented on #96
I agree. Emacs packages tend to be backward compatible enough that even development versions don't break compatibility with latest stable versions of emacs. And if they do, it can be fixed by specifying an appropriate version in the quelpa recipe anyway. So I cannot think of any disadvantages of making this the default behaviour.

[2015-12-03 08:56] steckerhalter commented on #96
so #97 should address this. it's basically the `package-installed-p` with the check for builtins removed so that it only looks for packages in `package-alist`

[2015-12-03 09:07] steckerhalter commented on #96
PR is merged. @bricewge please check if this is what you expected :octocat:

[2015-12-03 11:22] bricewge commented on #96
Yes it's fixed now. Thanks a lot!

[2015-12-03 11:22] #96 closed

[2015-12-13 03:07] Seeq opened #98 "Quelpa is building certain packages incorrectly"
Installing emmet-mode seems to be causing problems when building the latest branch from [github](https://github.com/smihica/emmet-mode) using quelpa or having quelpa use the recipe from melpa. It's leaving a small file in `elpa/emmet-mode-*/emmet-mode.el` that is about 600 lines long. Quelpa also seems to be leaving the full sized (~4k lines) version inside of `quelpa/build/emmet-mode`

The packag

[2015-12-13 03:23] vyp commented on #98
Is there an error of some sort?

[2015-12-13 06:26] Seeq commented on #98
Using emmet gives me `emmet-transform: Symbol's function definition is void: emmet-html-transform`
which I'm assuming is from emmet-mode.el only having a fraction of the lines it's supposed to since this doesn't happen in the cases that emmet-mode.el is ~4k lines.

[2015-12-13 07:37] vyp commented on #98
I can reproduce with `M-x quelpa` on emacs 24.5.2.

Here is my compile log for it:

[code]

As you can see there's a warning which says the functions `emmet-css-transform` and `emmet-html-transform` are not defined.

At line 641 of that 4002 line https://github.com/smihica/emmet-mode/blob/master/emmet-mode.el file, you can see the comment `;;; emmet-mode ends here`. I'm guessing something (perhaps

[2015-12-13 09:04] steckerhalter commented on #98
try this:

- download `emmet-mode.el`
- `M-x package-install-file RET` (Emacs function to install a package locally)
- then choose the `emmet-mode.el` file
- you will see:
[code]

in the compile log. it's exactly as @vyp says. you can't have code below `;;; emmet-mode ends here` because that's how emacs is told that the file is finished

that it works with melpa is a coincidence (probably because

[2015-12-13 09:17] Seeq commented on #98
Ah, got it. Thanksyou for the help, I'll take it up with emmet-mode's maintainer then.

[2015-12-13 09:17] #98 closed

[2015-12-13 10:22] steckerhalter opened #99 "quelpa participation"
@vyp hi I've sent you an email asking if you want to help maintaining quelpa. maybe you didn't get or see it? since you are always the first person to answer on issues it would make sense to me :)

[2015-12-13 10:32] vyp commented on #99
Hmm I can't see it.. I've sent you an email so that you can get my email address, because I remember emailing you before. Let me know if you got it. And of course you can close this if you do.

[2015-12-13 10:54] vyp commented on #99
Otherwise I'm still on irc (freenode) for a few more hours (from now). nick is "xd1le".

[2015-12-13 11:07] vyp commented on #99
Thanks, I got the email now.

[2015-12-13 12:06] #99 closed

[2016-02-29 23:38] ackalker opened #103 "Please allow to skip MELPA repo fetch even on first quelpa initialization"
I'm aware that setting `quelpa-update-melpa-p` to `nil` before requiring quelpa stops it updating the local copy of the MELPA repo, but quelpa will still clone the repository the very first time it is initialized.
It would be nice if I could prevent quelpa from cloning the repo in the first place, because I use only custom recipes (along with `quelpa-use-package`) to install packages directly from

[2016-03-01 01:29] vyp commented on #103
I can reproduce this with `emacs -q -l init.el` (emacs 24.5.2) where `init.el` is:

[code]

Of course, you have to make sure `quelpa-build-dir/package-build` (usually `~/.emacs.d/quelpa/build/package-build`) does not exist, to see it clone melpa. (I chose dash because I did not already have it installed, and it seems like it has no other dependencies.)

However, I think there are slightly differen

[2016-03-01 20:24] steckerhalter commented on #103
@ackalker it shouldn't even clone the repo if you set `quelpa-update-melpa-p` to `nil` before quelpa's invocation.
@vyp you didn't set `quelpa-upate-melpa-p` to `nil` in your test case.

[2016-03-02 02:39] vyp commented on #103
@steckerhalter Oh I believe I incorrectly copy pasted. I will try it again later just to make sure then.

[2016-03-17 19:09] ackalker commented on #103
@steckerhalter ah okay, thanks!

[2016-03-25 05:31] zakame commented on #103
I tried @vyp 's test case with `(setq quelpa-update-melpa-p nil)` before it, it fails (that is, it still checks out the melpa.git repo upon invoking `(quelpa ...)`.

The forms higlighted by @ackalker above are indeed meaningless in this case, since the inner `(and)` in

[code]
will fail anyway since the `~/.emacs.d/quelpa/build/package-build/.git` won't even be there in the first place.

The fix I

[2016-03-25 07:05] steckerhalter commented on #103
@zakame I see what you mean. This isn't a good solution though because it makes `quelpa-update-melpa-p` to mean that the melpa repo isn't checked out at all (and not just not updated).

Maybe a new variable like `quelpa-checkout-melpa-p` would work? I will have to think about it a little bit. Any suggestions?

[2016-03-25 08:05] zakame commented on #103
@steckerhalter `quelpa-checkout-melpa-p` sounds good.  I agree, `quelpa-update-melpa-p` should just refer to whether we update the melpa checkout, not necessarily to check if we _want_ to check out.  I'll update my PR to try this out :+1:

[2016-03-25 08:34] vyp commented on #103
+1 to the new variable, I think @steckerhalter is right.

PS - Sorry for not getting back on this, I've actually been meaning to soon, but unfortunately real life for the past month has caught up to me. :(

[2016-03-25 09:29] zakame commented on #103
Updated PR, it now has the new variable and tests it in `quelpa-setup-p` instead of changing logic in `quelpa-checkout-melpa`.

[2016-03-25 09:40] steckerhalter commented on #103
I think that looks fine. Could you add some documentation to the readme?

[2016-03-25 10:22] zakame commented on #103
Oops, forgot that.  Done :muscle:

[2016-03-25 13:29] #103 closed

[2016-03-25 13:49] ackalker commented on #103
Thanks to all for looking into this :-)

[2016-03-26 07:01] zakame commented on #76
For the record I now obtain quelpa through quelpa-use-package, with no issues:

[code]

[2016-03-26 08:08] steckerhalter commented on #76
@zakame great, you did it! :smile:

[2016-05-25 16:34] ackalker opened #105 "Error when building a package from Github"
I normally setup `quelpa` to not check out nor update the MELPA Git repository, as I only want to install packages directly from Github using recipes I provide.
When I try and install a package (for instance `flycheck-pony`) using `quelpa`, I get an error message like the following:
[code]

When i manually run `mkdir -p ~/.emacs.d/quelpa/build/package-build/recipes`, before the first use of `quelp

[2016-05-25 16:56] ackalker commented on #105
When I add `(toggle-debug-on-error)` after `(package-install 'flycheck)`, Emacs enters the debugger and I get the following backtrace:

[code]

It looks like `quelpa` wants to build and install `flycheck` from a recipe, (which doesn't exist, as there is no local repository to get one from), even though `flycheck` is already installed.

[2016-05-25 18:30] steckerhalter commented on #105
maybe it works when you set `quelpa-melpa-recipe-stores` to nil?

[code]

setting `quelpa-update-melpa-p ` to `nil` shouldn't be needed

[2016-06-09 17:48] steckerhalter commented on #76
quelpa is in melpa for quite a while now

[2016-06-09 17:48] #76 closed

[2016-06-09 17:49] steckerhalter commented on #105
did you test what I suggested? otherwise I'm going to close this issue...

[2016-06-21 18:50] #105 closed

[2016-07-31 02:37] vyp opened #106 "Packages with directories under :files spec in their recipes fail to install with file fetcher"
Don't have time to fix now but opening an issue so I don't forget.

Error:

    Quelpa: failed to checkout `nyan-mode': `Read error: is a directory, /home/u/sc/el/nyan-mode/img'

My guess is that [`package-build--expand-source-file-list`](https://github.com/quelpa/quelpa/blob/f58878188d54e21db110cecb67d01f2c3d23d997/quelpa.el#L309) does not actually expand directory contents into filenames as I or

[2016-08-11 08:12] #106 closed

[2016-08-11 14:16] 23Skidoo opened #108 "Compile warnings on Emacs 24.5.1"
Using the [recommended installation method](https://github.com/quelpa/quelpa#installation), I get the following during bootstrap:

[code]

[2016-08-11 15:32] steckerhalter commented on #108
Yes, one warning is because of this code:

[code]

The function the compiler warns about is executed depending on the emacs version either with or without argument. Compiler warnings are not errors but hints that something *might* be wrong (which is often not the case but intended like here).

The other warning is similar. There's nothing wrong there even though the compiler thinks so.

See also t

[2016-08-11 19:26] 23Skidoo commented on #108
Well, it's nice to keep code warning-free, because spurious warnings are a nuisance and can drown out real ones. But it's up to you of course.

[2016-08-11 22:07] steckerhalter commented on #108
If you know how make it warning-free, feel free to suggest how. I don't know in this case, with compilation warnings. If it is possible the compiler should be instructed not to warn about this.

[2016-08-11 22:12] 23Skidoo commented on #108
My elisp is rusty, but I remember fixing a similar issue with macros once. The macro checked Emacs version at compile-time and generated a compatibility shim.

[2016-08-12 06:12] steckerhalter commented on #108
Most elisp packages produce compiler warnings. Just as most compiled programs (like C) produce compiler warnings. Frankly this is information is for the developer and not for the user. So as a user you could turn off the warnings with `(setq byte-compile-warnings nil)` if you want.

I will leave it like this because it's not trivial to suppress them and also it's not a bug or something that causes

[2016-08-13 01:46] vyp opened #109 "CI failure due to new package-build location"
I thought that https://github.com/quelpa/quelpa/commit/ef4f25cbb8e16039c9ba5075019a6bff7a7a17a3 was all that was needed to update for the new package-build location. But `quelpa-melpa-recipe-stores` defaults to `/recipes` from the package-build build directory, so this means that the CI will be failing. I'm not sure exactly how we want to resolve this, could be done in multiple ways.

Unfortunatel

[2016-08-13 07:12] steckerhalter commented on #109
Hmm, the build seems to fail because `package-build` does not contains `recipes` anymore but is a separate repo now.

[2016-08-13 07:20] steckerhalter commented on #109
We need to have melpa cloned into a separate location. And the recipes need to be fetched from that location.

[2016-08-13 07:43] #109 closed

[2016-08-13 07:48] vyp commented on #109
For reference, here's the failing build which I forgot to link: https://travis-ci.org/quelpa/quelpa/builds/151976622

[2016-08-16 17:09] wasamasa commented on #109
Does this change mean one must no longer install package-build from MELPA in the bootstrap script?  If yes, that would be nice, newer Emacsen even offer a `M-x install-package-from-buffer`...

[2016-08-16 23:04] vyp commented on #109
Yes I've been thinking about the bootstrapping process too due to all the recent melpa issues. Although correct me if I'm wrong but I don't think it changes anything? IIRC the reason melpa is used for bootstrapping is in case package-build takes on a new dependency in the future, so a reliable way to ensure that package-build gets installed properly (including all potential new dependencies) is to

[2016-08-17 19:35] steckerhalter opened #112 "melpa checkout shouldn't look for `el` anymore"
[code]

[2016-08-18 00:19] vyp commented on #112
When no `:files` is given in the recipe, `:files` defaults to `(*.el *.el.in dir *.info *.texi *.texinfo doc/dir doc/*.info doc/*.texi doc/*.texinfo (:exclude .dir-locals.el test.el tests.el *-test.el *-tests.el))` as from the error message.

So if we just want to checkout melpa for its recipes, maybe we could add `:files ("recipes")` to the config in the call to `package-build--checkout-git` from

[2016-08-18 07:56] steckerhalter commented on #112
Right, thanks, I guess `*` should do then because it doesn't really matter here, it's just for updating the git repo.

[2016-08-18 09:09] steckerhalter commented on #112
fixed by #113

[2016-08-18 09:09] #112 closed

[2016-08-18 10:47] steckerhalter commented on #108
I'm closing this for said reasons. If you do find a way to make the warnings disappear, please contribute it via PR. Thank you for bringing this up and have a nice day!

[2016-08-18 10:47] #108 closed

[2016-08-19 05:03] Purring opened #114 "Interactive quelpa fails to find melpa recipie dir"
Hey guys, today I did a clean reinstall all of my packages since the big melpa change came out.
It installs everything just fine when it's first ran, but after it's done installing all the packages in my init.el, calling `M-x quelpa`  gives me:
 ` quelpa-interactive-candidate: Opening directory: No such file or directory,  /home/cody/.emacs.d/quelpa/build/package-build/recipes`
I double checked th

[2016-08-19 05:39] steckerhalter commented on #114
you are right, it's a bug. didn't notice this was hard-coded in `quelpa-interactive-candidate`. i will push a fix

[2016-08-19 05:49] #114 closed

[2016-09-24 14:33] ninrod opened #116 "how do I specify a branch?"
I was thinking of something in the lines of:

(quelpa multiple-cursors
           :repo "myrjlola/multiple-cursors.el"
           :branch "evil-compat"))

can it be done?

[2016-09-24 20:34] vyp commented on #116
Yes that should be correct according to https://github.com/melpa/melpa#recipe-format.

By the way just remember in this example you are missing the `:fetcher`, and "myrjlola" should be "myrjola". Not to mention the non-matching parentheses (the recipe itself should be a list).

Closing because it seems like you have already figured it out from https://github.com/quelpa/quelpa-use-package/issues/8,

[2016-09-24 20:34] #116 closed

[2016-10-04 16:18] alform opened #117 "M-x package install quelpa gives "Package ‘emacs-24.3’ is unavailable""
I found out while experimenting with spacemacs - I filed a bug with their maintainers, see https://github.com/syl20bnr/spacemacs/issues/7279

However, the issue is also present in a vanilla emacs 25.1.1, so  it should not be spacemacs dependent.

[2016-10-04 17:23] vyp commented on #117
I cannot reproduce with emacs 25.1.1 and `~/.emacs.d/init.el` of:

[code]

I did `M-x package-install` `quelpa` and quelpa installed and it works.

[2016-10-04 17:34] vyp commented on #117
Also `--insecure` as used in `emacs --insecure` from https://github.com/syl20bnr/spacemacs/issues/7279 is an unknown option.

[2016-10-04 17:35] steckerhalter commented on #117
we have this in the header of `quelpa.el`:

[code]

Which means install-package should make sure we have at least Emacs v24.3 but in your case it seems to try to install Emacs as a package?

[2016-10-04 17:36] vyp commented on #117
@steckerhalter Yes that seems to be what's happening.

[2016-10-04 17:39] steckerhalter commented on #117
it's common to do this, see for example: https://github.com/magit/magit/blob/master/lisp/magit.el#L19
@alform can you try to `package-install` magit for example?

[2016-10-05 08:24] alform commented on #117
I found and removed some historical, unpackaged cruft lying around in /usr/share/emacs/site-lisp and that fixed it. I'm closing the issue - thanks to all who helped.

[2016-10-05 08:24] #117 closed

[2016-10-05 08:43] steckerhalter commented on #117
@alform you're welcome... have a nice day

[2016-10-25 10:01] GiacomoSilli opened #118 "Windows php-extras in spacemacs by quelpa"
Hello,

I'm on Windows 10, installing spacemacs, got some errors about php
I also tried using spacemacs-develop, but I'm not able to solve the problem.

`An error occurred while installing php-extras (error: (wrong-type-argument stringp nil))`

Git is installed and in PATH.
Also accessible by spacemacs.
http://imgur.com/a/1Btam

From emacs --debug-init
http://pastebin.com/i47fsvqt

Any idea?

[2016-10-25 10:38] wasamasa commented on #118
Judging from the backtrace and the package-build.el sources, the problem is that you don't have a GNU tar in your PATH.  Can you confirm whether installing it fixes the problem?

[2016-10-25 12:25] GiacomoSilli commented on #118
Following this https://github.com/quelpa/quelpa#tar

Solved by changing sys PATH from C:\cygwin64\bin to C:\Program Files\emacs\bin

[2016-10-25 12:43] #118 closed

[2016-11-22 14:54] cowboyd opened #119 "Error using Quelpa to install a single git hosted package with dependencies on MELPA"
I'm trying to host our company's shared configuration as a single elisp package on github using quelpa so that it can be distributed easily. However, it has a lot of dependencies on packages that I _don't_ want to pull from source control. To accomplish this, I set up a bootstrap `init.el` that looks like this:

[code]

The package itself looks like this (for now)

[code]

The key thing here is th

[2016-11-22 17:53] steckerhalter commented on #119
It is trying to get the recipe for `smart-mode-line` from the melpa dir. I think the easiest solution would be to install that before `frontmacs` with `(quelpa '(smart-mode-line :repo "Malabarba/smart-mode-line" :fetcher github))`

[2016-11-22 17:55] steckerhalter commented on #119
It is also possible to define custom recipes like described here: https://github.com/quelpa/quelpa#modify-melpa-recipes

[2016-11-22 17:59] cowboyd commented on #119
Since this is, in effect, a starter-kit for an entire company, there are plans to depend on upwards of 25 packages, not just `smart-mode-line`.  I'd prefer to just install all of them from the package archive and not from source control, which is what I thought that the `quelpa-checkout-melpa-p` variable was about.

[2016-11-22 17:59] cowboyd commented on #119
In effect, I want *only* the `frontmacs` package to be built and installed by quelpa. Is this possible?

[2016-11-22 18:15] steckerhalter commented on #119
Setting `quelpa-checkout-melpa-p` to `nil` will prevent the melpa repo from being cloned which contains the recipes for packages. So when `smart-line-mode` is required but not already installed it will try to find out how to get it.

So if you want to install them from the package archive you would have to do that before invoking quelpa.

[2016-11-22 18:23] cowboyd commented on #119
It seems like there is a chicken and the egg problem, because the reason they are installed is because they are dependencies of the package that is controlled by quelpa. Having to explicitly enumerate them in the `init.el` would defeat the purpose.

Here is the use-case if it sheds any light:

Let's say I want to add the `crux` package to our shared configuration. What I would like to do is add `c

[2016-11-22 18:35] steckerhalter commented on #119
Hmm, well `quelpa` was made to install packages amd dependencies from source code (either remote or local). In your case it might be much easier to just get `frontemacs` onto MELPA as described here: https://github.com/melpa/melpa/blob/master/CONTRIBUTING.md

[2016-11-22 19:57] cowboyd commented on #119
Unfortunately, I've already explored this option and it does not appear that MELPA is accepting any new packages for shared configuration. /cc @purcell

I understand that this use-case might be outside of the norm, but how hard to you see making these changes to be? If doable, I could take a stab at it.

[2016-11-22 20:22] wasamasa commented on #119
I'd attempt writing a helper function that returns the dependencies of a package, then loop over that list and install every package not already installed via package.el.

[2016-11-22 20:54] steckerhalter commented on #119
@cowboyd You'd have to change this function: https://github.com/quelpa/quelpa/blob/master/quelpa.el#L562 so when the dependencies are looped over it would use `package-install`. So there could be a bool setting like `quelpa-deps-from-package-archive-p` and if that is `t` it would use `package-install`?

[2016-11-22 21:19] cowboyd commented on #119
That sounds good. Is there a way to tell if there is a quelpa configuration for a package, so that if `quelpa-deps-from-package-archive-p` is true _and_ this is not already specified to be installed from quelpa, then it would use `package-install`? Or is that overthinking it?

[2016-11-23 06:52] steckerhalter commented on #119
No, I think it's good to think about it a bit first. How about this:

`quelpa-package-install` is modified so that it will first check if a recipe is available. So when I would call:

[code]

Quelpa would ask: is a recipe available for that?

1. Yes: the recipe is used to install from source code, now if there are dependencies it would ask the same question for every dependency
2. No: Fallback to

[2016-11-23 16:57] cowboyd commented on #119
This sounds reasonable. I can see in the future being able to tweak the priority on a per-package basis and also to switch it around and say, try for the package archive

Since this is our expected "happy-path" at least for this package, I'd prefer for there to be a way that didn't involve generating lots of warnings.

[2016-11-23 18:13] steckerhalter commented on #119
I just thought it would be good for the user to know if some package is being installed via the package archive, but you can do it as you like...

[2016-11-26 07:53] steckerhalter commented on #119
btw, since it is a recursive function it really wouldn't even have to know if it is a dependency or not

[2016-12-04 21:24] raxod502 opened #120 "Error installing profile-dotemacs"
I tried this:

[code]

But unfortunately I got this:

[code]

Does quelpa only support Elisp files that are in proper `elpa` format?

[2016-12-04 21:27] wasamasa commented on #120
That's right, even if downloading everything is supported, the file must be in the format as understood by `package.el`.

[2016-12-04 21:28] raxod502 commented on #120
OK, I guess there is not really anything that can be done about that other than fixing the package. Thanks!

[2016-12-04 21:28] #120 closed

[2016-12-04 21:29] wasamasa commented on #120
More specifically, the file *does* look like a package, save for the final line.  It should have three semicolons instead of two, once that is fixed, it should be installable.

[2016-12-23 20:21] arkhan opened #121 "Hot to install especific branch or tag"
Hello, I.m installed org using quelpa,  with this code:

[code]

quelpa clone from master branch,
But, I want to install from maint branch or release_9.0.2 tag

Thanks

[2016-12-23 20:28] wasamasa commented on #121
See https://github.com/melpa/melpa#recipe-format for the full details on what Quelpa accepts.  You'll want to use the `:branch` keyword for branches and `:commit` for the tag.

[2016-12-23 20:28] #121 closed

[2017-02-02 15:33] cjgratacos opened #122 "Error on mac: "an error occurred while installing php-extras ...""
Hi, I got the following error, while using emacs and installing a quelpa package, on my mac : "an error occurred while installing php-extras (error: (wrong-type-argument ...".

I was able to fix it with homebrew by installing the gnu-tar package.

Just wanted to share the information so the Readme gets updated.

[2017-02-02 17:26] wasamasa commented on #122
Thanks for the bug report!  I've created a PR fixing the README and am awaiting review before it gets merged.

[2017-02-03 10:47] #122 closed

[2017-02-05 23:30] ackalker opened #126 "quelpa-upgrade: should not self-upgrade quelpa from Git when quelpa was installed from MELPA"
My setup:

- Emacs 25.1.1 on Void Linux x86_64
- quelpa installed from MELPA (using `use-package`)
- one package (`company-shell`, which I'm currently working on) cloned from Github to a local Git repository (installed using `quelpa-use-package`)

When I do `M-x quelpa-upgrade`, quelpa upgrades itself from Git, then proceeds to proceeds to upgrade my `company-shell` from my local Git repository.

[2017-02-06 05:55] #126 closed

[2017-02-06 05:58] steckerhalter commented on #126
added option `quelpa-self-upgrade-p` to control this: https://github.com/quelpa/quelpa/blob/master/README.md#upgrading-all-packages

[2017-02-06 20:49] ackalker commented on #126
Thank you so much!

[2017-02-21 07:32] CMCDragonkai commented on #118
Can it be made to work with GNU tar for windows from: http://gnuwin32.sourceforge.net/packages/gtar.htm ?

[2017-02-21 07:37] wasamasa commented on #118
Try It And See™ (don't forget reporting back!).

[2017-02-21 07:38] CMCDragonkai commented on #118
It doesn't work. I have it installed on PATH. CMD can find tar, Powershell can find tar. I even copied tar to emacs/bin directory (even though I use emacs64bit), and still didn't work.

[2017-02-21 08:52] wasamasa commented on #118
Quelpa itself isn't doing anything special with tar, `package-build.el` is: https://github.com/melpa/package-build/blob/master/package-build.el#L103-L109

[2017-02-21 09:59] steckerhalter commented on #118
@CMCDragonkai see here: https://github.com/melpa/package-build/blob/master/package-build.el#L732

in your case `package-build-tar-executable` is nil so Emacs couldn't find any tar command with:

[code]

You need to make this work (code from package.el):

[code]

[2017-02-21 10:03] CMCDragonkai commented on #118
So how is it looking up `tar`? Because I have in the Window SYSTEM PATH and both CMD and Powershell can find it.

[2017-02-21 10:11] steckerhalter commented on #118
[code]

I guess you could set the path directly:

[code]

[2017-03-11 06:29] CMCDragonkai commented on #118
Even after doing this:

[code]

It still doesn't work, and gives me:

[code]

[2017-03-11 07:16] steckerhalter commented on #118
Ok, looks like this is now a new/other problem. Can you find out why the `tar` is not there? You might want to use [Edebug](https://www.gnu.org/software/emacs/manual/html_node/elisp/Instrumenting.html#Instrumenting) for that.

Another option on Windows would be to use Emacs via Cygwin: https://github.com/quelpa/quelpa#cygwin

Native Windows support is pretty bad in general from Emacs. When I was u

[2017-05-21 09:42] hlissner commented on #122
@cjgratacos @wasamasa Sorry to bring up an old issue, but I couldn't think of a better place to ask:

Looking into quelpa, package.el and tar-mode, it seems like Emacs does its own tarball I/O in-house. `tar-mode` parses the tar's literal contents into a tar-header struct, from which point files can be extracted, all (seemingly) without leaving the elisp layer.

At what point is the system tar use

[2017-05-21 10:47] wasamasa commented on #122
@hlissner You're forgetting about `package-build.el`, it doesn't make use of `tar-mode`.

[2017-05-21 10:50] hlissner commented on #122
Ah ha! There's the missing link. Thank you!

[2017-06-11 11:47] joewreschnig opened #130 "Autoload quelpa-checkout-melpa-p"
Aiming for zero warnings in my Emacs configuration, Quelpa is giving me some trouble. I have to set `quelpa-checkout-melpa-p` to `nil` _before_ loading the package:
[code]

But of course, it is not defined before loading the package:
[code]

This could be avoided by marking it with an autoload cookie. I know autoloading `defvar`/`defcustom` is considered an antipattern by some developers, but it's

[2017-06-11 12:01] wasamasa commented on #130
Aiming for zero warnings in your Emacs configuration is a rather weird goal.  The existing checkers for elisp are intended for package development.  What's considered best practice there (like, not depending on yet undefined symbols) makes less sense in your init file.  I'd therefore not use one on your init file and ignore this warning.

[2017-06-11 12:09] joewreschnig commented on #130
I agree that many elisp best-practice checks are targeted at package development, but this one is useful in all code. `(setq quelpa-melpa-checkout-p nil)` is just as wrong in an init file as it would be in a package. Quelpa's eager loading is the odd thing out here, not the warning.

[2017-06-11 12:32] wasamasa commented on #130
What eager loading?  The package itself does nothing, that's the self-upgrading code you put in your init file.

[2017-06-11 13:19] joewreschnig commented on #130
I referring to the eager loading of the MELPA archive by Quelpa, and was basing that on the documentation, which says

However, now checking the code, the documentation seems to be wrong. You can set `quelpa-update-melpa-p` and `quelpa-checkout-melpa-p` after `(require 'quelpa)`, as long as it's before calling `(quelpa ...)`.

[2017-06-11 13:19] #130 closed

[2017-07-17 19:20] 2mc opened #132 "Please fix the litte BUG while creating time-stamp"
`package-build` will fail, if there is a ZERO after the period in a time-stamp.
Therefore your fun `quelpa-check-hash` in `quelpa.el` tries to filter that ZERO out of the time-stamp string.

However, your regexp only captures a single ZERO of possibly more then one in the time-string (i.e. when working shortly after midnight ;-).

So, please change the regexp as below:

    -          (replace-reg

[2017-07-17 19:42] wasamasa commented on #132
The fix doesn't seem correct either. `\\..0` might match `.10` and replacing that with `.` is just wrong.  What you're probably after is `\\.0+`.

[2017-07-17 19:45] 2mc commented on #132
Yes, true, one ZERO or more. Let's try it this way.

[2017-07-17 20:05] steckerhalter commented on #132
It's pretty clear... you **shouldn't be working** shortly after midnight 😄

[2017-07-17 21:31] 2mc commented on #132
Also true, probably (sigh).

Yet, by confirmation of the current hour, `\\.0+` works.

Let's a apply it—quickly—before it get's once more to late :rabbit:.

[2017-07-18 05:27] #132 closed

[2017-07-31 13:38] ibraimgm opened #133 "How to pin packages to a specific commit/version?"
What is the correct way to "pin" packages to a specific version?

I'm currently using:
`(quelpa '(some-package :repo "foo/some-package" :fetcher github :commit "<sha-1-or-tag>"))`

I works, but I have a feeling that rewriting the entire recipe might not be a good idea.
Is there a better way?

[2017-07-31 19:01] wasamasa commented on #133
This is how I do it.  Considering how rare changes in a recipe are, it's an acceptable trade-off.

[2017-08-01 06:52] steckerhalter commented on #133
Yes, I would say so too. I personally always use the full recipes, even if there are no modifications necessary. When I add a new package the first time I use `quelpa-expand-recipe` to get that.

[2017-08-02 03:07] ibraimgm commented on #133
Yep, this makes sense. I didn't knew about `quelpa-expand-recipe`, this certainly help.
Thanks for the timely response guys!

[2017-08-02 03:07] #133 closed

[2017-08-03 06:49] steckerhalter commented on #133
You're welcome. Have a nice day.

[2017-08-31 14:05] sentientcucumber opened #134 "Unable to install evil"
I'm unable to install `evil` using Quelpa. I get the following error
[code]
I also see the following in the message buffer
[code]
I'm on macOS (using Emacs 25.2.1) and installed GNU's tar via homebrew and ensured it's being used
[code]
I tried installing `avy` via Quelpa and it worked.

[2017-08-31 16:27] wasamasa commented on #134
Can you `M-x toggle-debug-on-error`, reproduce the error and include the backtrace into this thread?

[2017-08-31 16:54] sentientcucumber commented on #134
Here's what I got.
[code]

[2017-09-01 00:45] sentientcucumber commented on #134
Looking at the backtrace, it doesn't seem to be a Quelpa issue. I played around with this and it seems like the problem was how I installed `gnu-tar`. `package-build` was using `/usr/bin/tar` instead of where homebrew put it.

Closing this issue.

[2017-09-01 00:45] #134 closed

[2017-10-26 00:55] jaccarmac opened #136 "`quelpa-upgrade` does not upgrade dependencies."
This causes problems with packages such as `magit`, which will break if it gets sufficiently out of sync with `magit-popup`, a package from the same repository. Am I missing something or are dependencies not inserted into the cache?

For this usecase would it be useful to implement a command to upgrade all packages in the cache *and* their dependencies?

[2017-10-26 08:16] steckerhalter commented on #136
No, dependencies are not inserted. Dependencies should be updated if they are required. From `magit.el`:

[code]

So if magit-popup is not the version specified in the package it should be upgraded.

[2017-10-27 02:29] jaccarmac commented on #136
Perhaps the problems I experienced were due to another package pinning a different version of `magit-popup`. In the case that two packages require two different versions of a dependent package, which one "wins" as far as Quelpa is concerned?

[2017-10-27 11:18] steckerhalter commented on #136
if the required package version is higher than what is installed it should install the new version

[2017-10-27 11:28] steckerhalter commented on #136
`Package-Requires` only sets a minimum version so in the end the highest version should prevail and both packages should be happy. I don't know what actually happens when one version is "pinned" via other means and if this even works.

[2017-10-27 20:37] jaccarmac commented on #136
I'll have to investigate the specific interaction between `magit`, `magit-popup`, and `docker` further. Thanks for your help!

[2017-10-27 20:37] #136 closed

[2017-11-11 11:57] SteveJobzniak commented on #132
This was discovered by @marienz. Thanks a lot for fixing it @wasamasa!

https://github.com/syl20bnr/spacemacs/issues/8901#issuecomment-304492105

[2017-12-11 15:07] steckerhalter commented on #119
@cowboyd can we close this issue?

[2017-12-13 01:52] cowboyd commented on #119
I think so 👍

[2017-12-13 10:09] steckerhalter commented on #119
thanks 🎉

[2017-12-13 10:09] #119 closed

[2017-12-19 04:54] stardiviner opened #140 "quelpa install a package error"
# Table of Contents

1.  [config](#org95dc31a)
2.  [error](#orgd720d54)

<a id="org95dc31a"></a>

# config

    (use-package pdf-tools-org
        :quelpa (pdf-tools-org :fetcher github :repo "machc/pdf-tools-org")
        :init
        (add-hook 'after-save-hook
                  (lambda ()
                    (when (eq major-mode 'pdf-view-mode)
                      (pdf-tools-org-export-to-org

[2017-12-19 09:38] steckerhalter commented on #140
I couldn't reproduce, for me:

[code]
works without any error. It looks like something goes wrong during `quelpa-package-install` hmm, what version of Emacs are you using?

[2017-12-19 10:04] stardiviner commented on #140
I'm using the latest version of Emacs from `master` branch:
[code]

[2017-12-19 10:19] steckerhalter commented on #140
ok, can you find out what's going wrong in `quelpa-package-install` by using edebug?

[2017-12-19 10:23] stardiviner commented on #140
Ok, I will take a try. Update later.

[2017-12-19 10:35] stardiviner commented on #140
After edebug on `quelpa-package-install`.
I got result from code `(quelpa-build-package rcp)` and this is the for `file` in let-binding.
[code]
I got error on `(quelpa-get-package-desc file)`.
Then I try to edebug on `quelpa-get-package-desc`. But in second edebug, I successly install.
Weird.

[2017-12-19 10:44] stardiviner commented on #140
I close this for now, if I meet same error then I reopen this issue and add more edebug details. Thanks for instructions.

[2017-12-19 10:58] steckerhalter commented on #140
allright. yw :grinning:

[2018-01-03 09:19] stardiviner commented on #140
I got this error again. Here is the new output:
[code]

[2018-01-03 09:32] steckerhalter commented on #140
It looks like the error is ocurring in `quelpa-parse-stable` and has something to do with the `:stable` property? It's really hard to tell because this is an edebug trace. Can you produce a normal trace? Also, how does the recipe etc. look like you use?

[2018-01-03 09:58] stardiviner commented on #140
The use-package recipe:
[code]

Here is the `*edebug-trace*` output:
[code]

[2018-01-03 10:00] stardiviner commented on #140
The error is not from `quelpa-parse-stable`.

[2018-01-03 10:05] stardiviner commented on #140
In `quelpa-package-install` function, `(quelpa-build-package rcp)` got `nil`. Because `version` is nil in `quelpa-build-package`.

[2018-01-03 10:28] steckerhalter commented on #140
do you have `quelpa-stable-p` set to `t`?

[2018-01-03 10:35] steckerhalter commented on #140
I can't reproduce, for me there is no error. Can you find out what is going wrong  in `(quelpa-build-package rcp)` by stepping through with edebug? https://www.gnu.org/software/emacs/manual/html_node/elisp/Using-Edebug.html

[2018-02-08 09:45] a13 commented on #140
I have the same issue on emacs-snapshot (27-something) and it's something weird going on there:

I tried to evaluate piece by piece and found that `file` argument is somehow shadowed inside `quelpa-get-package-desc`, so we get `nil` as a result. Renamed it to `package-file` and everything looks fine now.

[2018-02-08 10:02] a13 commented on #140
Well, I tried to remove my elpa and quelpa folders and the clean installation was just fine.

[2018-02-08 10:05] steckerhalter commented on #140
looks like something gets borked. maybe we can find out sometime.

[2018-02-10 03:56] stardiviner commented on #140
Seems fixed after upgrading to latest source code `master` compiled Emacs. Don't know which commit works.

[2018-02-12 10:51] steckerhalter commented on #140
Allright, I encountered this bug too but I'm not on the latest master. I'll check with the latest.

[2018-02-14 07:39] steckerhalter commented on #140
So I've updated to master and at first I still got the error, but then it disappeared just when I wanted to debug it. Hmm... looks like something in Emacs that was changed and then corrected again?

[2018-02-14 08:40] stardiviner commented on #140
Me too. It just disappear when I want to debug it. Really ... don't know what to say...

[2018-02-14 08:52] steckerhalter commented on #140
So I think I might know what's going on. Assumption: Emacs changed something that affects byte-compiling (AFAIK they sometimes do that with new Emacs versions). As soon as the quelpa code is evaled the byte compiled code is overridden and it works again. Now I figured it might be necessary to byte-compile quelpa again so I just removed quelpa and bootstrapped it again. Now it works for me.

[2018-02-14 08:54] a13 commented on #140
sometimes they really do!

[2018-02-15 16:07] steckerhalter commented on #140
So it popped up again, the error. Then evaled quelpa.el and it went away. So far no luck finding the source.

[2018-02-17 05:57] steckerhalter commented on #140
So the error happens in `quelpa-get-package-desc`. When I eval this function unchanged it works. This is definitely odd.

[2018-02-17 07:16] steckerhalter commented on #140
So deleting `quelpa.elc` makes the error go away, and recompiling it still works. Really looks like a byte-compilation issue, especially since the error that pops up is not even related to the code that runs.

It may even be an Emacs bug, we'll see...

[2018-02-17 13:40] a13 commented on #140
As I said before https://github.com/quelpa/quelpa/issues/140#issuecomment-364057148 - possibly it has something to do with `file` argument name.

[2018-02-17 19:14] steckerhalter commented on #140
@a13 I don't think so, there's no file arg involved where it fails

[2018-02-17 19:14] steckerhalter commented on #140
@a13 I don't think so, there's no file arg involved where it fails

[2018-02-17 20:48] steckerhalter commented on #140
@a13 I have debugged it and the place where it fails is `package-tar-file-info`, it says `(wrong-type-argument arrayp nil)` in a place where there isn't even an array to be expected.

[2018-02-21 10:54] steckerhalter commented on #140
Is someone still getting this issue? Otherwise I'm going to close it. For me it is gone since I recompiled quelpa.

[2018-02-23 18:47] steckerhalter commented on #140
No answer, no problem? :smirk: I'm closing this. If there is more trouble you may reopen.

[2018-02-23 18:47] #140 closed

[2018-03-24 02:00] Purring opened #142 "Bootstrap installed quelpa is lacking important features from latest"
So on a completely fresh install of my config, the bootstrapped version of quelpa (0.0.1 in `list-packages`) has trouble building Magit because it depends on the package GHub, which has a dependency on let-alist that's on GNU Elpa.

Installing quelpa, upgrading it, and deleting the old version, and restarting emacs doesn't have this issue.

Seems like old versions of Quelpa that are getting bootst

[2018-03-24 09:32] steckerhalter commented on #142
I think it has nothing to do with the bootstrap version. The bootstrap version number defaults to 0.0.1 although it's actually the current version that is installed.

AFAIK quelpa does not fall back to gnu elpa etc. for packages so it should fail when let-alist is not available and not install it from elpa. I've added a CI test to make sure: https://github.com/quelpa/quelpa/blob/master/ci/.emacs#L

[2018-03-24 09:37] steckerhalter commented on #142
you see it fails here: https://travis-ci.org/quelpa/quelpa/jobs/357726081#L1372

I assume it works for you the second time because some other package installs let-alist?

You either have to install let-alist from elpa first or use the snippet above to install it with quelpa on-the-go.

[2018-03-24 19:00] Purring commented on #142
Yeah, those snippets work, and getting let-alist from gnu elpa works too. This should all be fixed in the next version of emacs though, since it'll bundle the new let-alist which seems to have long times before new versions.

 It just feels dirty because [git repo linked on the GNU ELPA page](https://git.savannah.gnu.org/cgit/emacs/elpa.git/tree/packages/let-alist) is empty so i'd have to grab it

[2018-03-24 19:00] #142 closed

[2018-03-24 21:13] steckerhalter commented on #142
@Purring you're welcome. I think let-alist was bundled with for emacs a while and then they moved it to elpa. I couldn't figure out what's wrong initially.

[2018-03-25 10:57] steckerhalter opened #143 "package-build just broke everything with a "massive refactor""
https://github.com/melpa/package-build/pull/15

[2018-03-25 11:04] wasamasa commented on #143
How does the actual breakage look like? Did they remove functions we rely on? Did the signatures of such functions change? Do the functions do something completely different now?

If we can prove they broke API they shouldn't have, we could push back and get things fixed upstream.

[2018-03-25 11:43] steckerhalter commented on #143
It looks pretty grim, yes Tarsius removed functions we rely on, see my build error here: https://travis-ci.org/steckerhalter/steckemacs.el/builds/358008890#L2259

 I'm still trying to wrap my head around it all. I guess it should be possible to adapt quelpa to the new state, but it takes time. I don't think they will be "fixing" things upstream because it works quite differently now.

[2018-03-25 11:48] steckerhalter commented on #143
I wonder if we should just fork package-build using the commit before they removed all the useful fetchers. The only thing we would have to worry about would be changes to the recipe format which I guess are almost none.

[2018-03-25 12:29] tarsius commented on #143
I am sorry I broke Quelpa and probably other downstreams.

At the same time I think that projects that build on top of `package-build` will benefit significantly in the long run if it moves away from merely incremental changes. But you might want to wait until v2 is released. So yes, you should probably downgrade to 1.1.

I don't plan to restore the removed fetchers but you could do so by implemen

[2018-03-25 12:40] steckerhalter commented on #143
@tarsius no problem, we're probably better off not to depend on upstream package-build anyway, thanks

[2018-03-25 13:31] steckerhalter commented on #143
Integrated version 1.1 of package-build into quelpa for now. It should work again. Leaving this open for now...

[2018-03-26 09:12] steckerhalter commented on #143
@wasamasa if you want to have a look at adapting quelpa to the refactored pb, we could remove the v1.1 code again. I'd like to stick to the old code for now.

[2018-03-26 09:12] #143 closed

[2018-05-22 00:47] DarwinAwardWinner opened #147 "Quelpa should wait for the cache file to be unlocked"
If multiple copies of Emacs are starting up at once, they will fight over the cache file. This problem occurred for me when I was configuring an org-mode file to export to multiple formats asynchronously upon each save. Each asynchronous export job spawns a new Emacs process, which loads the init file and therefore runs Quelpa. One of the processes hangs because it asks the user if it should steal

[2018-05-22 06:03] wasamasa commented on #147
Sorry, but this sounds like a bad idea to me. It enables deadlocks and what's currently happening is in line with other package managers that exit early when encountering locked resources.

Besides this, is there a need to run Quelpa during a batch operation? Why not make it conditional and not run it in batch mode?

[2018-05-22 06:10] DarwinAwardWinner commented on #147
Well, Quelpa is pretty baked in to my Emacs config, so it might not be easy to make it conditional. However, I did discover an alternate solution for my specific case: org-mode's export functions allow you to specify a different init file to use for the asynchronous Emacs subprocesses in place of the usual one, so I was able to craft a separate init file that does not use Quelpa. So I don't have a

[2018-05-22 06:27] wasamasa commented on #147
In that case, I'd customize it to not use any. Bizarre that this isn't the default anyways.

[2018-05-22 06:27] #147 closed

[2018-06-04 09:05] steckerhalter opened #148 "migrate to gitlab instance (framagit.org?)"
since microsoft aquires github I'd like to move the code

[2018-06-05 10:52] steckerhalter commented on #148
yeah, I've reconsidered already :smile:  I'm moving to https://framagit.org/steckerhalter

[2018-06-05 16:55] steckerhalter commented on #148
@wasamasa would you be happy with moving to framagit.org? maybe we can skip the quelpa org, I'd just put it under my user and give you access?

[2018-06-05 20:16] wasamasa commented on #148
I don't particularly care. My last contribution is from almost a year ago, who knows when the next one will be. I'll let you know whenever I'll be needing access again.

[2018-06-12 10:07] casouri commented on #148
So is the github repo still supported? Like a mirror?

[2018-06-13 07:22] steckerhalter commented on #148
@casouri not sure yet, you'd want it to be mirrored?

[2018-06-13 10:10] casouri commented on #148
A lot of people are still using GitHub so I think it would be nice to keep GitHub repo updated.

[2018-06-16 03:01] jgkamat commented on #148
I'd reccomend putting a message on the top of the readme saying the repo is moved, if you plan to use https://framagit.org/steckerhalter/quelpa/ instead of this.

[2018-06-18 04:43] steckerhalter commented on #148
yeah, I guess I'll setup a mirror and leave a message that people should use framagit.org to report issues etc.

[2018-06-18 10:07] steckerhalter commented on #148
code moved and note added to README. it's now mirrored to github. I will disable issues here soon.

[2018-06-19 03:14] Purring commented on #148
Do you plan on updating the Melpa recipie to point to Framagit? I don't think it really matters since this is a mirror so it technically works, but people may be confused about where to send issues (since reading readmes is hard ork)

[2018-06-19 05:20] steckerhalter commented on #148
@Purring yeah, I made a PR. but know that you mention it. I shouldn't have mirrored the adapted code before it's merged :man_facepalming:

[2018-06-19 05:30] steckerhalter commented on #148
good, I stopped the mirroring and reverted the code until it's merged

[2018-06-23 15:52] steckerhalter commented on #148
melpa PR got merged. added a note the the readme. code is mirrored now. I'm going to disable issues since framagit should be used for that :tada:

[2018-06-23 15:52] #148 closed

[2019-12-17 19:29] steckerhalter opened #149 "Quelpa Maintenance Discussion"
Some people have offered to maintain and continue to develop quelpa. We're moving back to Github because of that and can discuss necessary steps on this issue.

[2019-12-18 09:42] wasamasa commented on #149
You really should provide some description for this. The last thing I've read was this repository getting deprecated in favor of a GitLab thing.

[2019-12-18 09:51] steckerhalter commented on #149
yeah, the whole discussion was here: https://framagit.org/steckerhalter/quelpa/issues/171

[2019-12-18 16:51] alphapapa commented on #149
@steckerhalter Thanks for your flexibility and generosity.  Let me know what you'd like me to do to help maintain Quelpa.

[2019-12-18 20:26] steckerhalter commented on #149
@alphapapa thanks. I've added you and @kiennq to the Members team which should give you write access and I think the ability to merge. Did you get an invitation?
I think Melpa should be informed that the sources of `quelpa` and `quelpa-use-package` have changed if someone wants to do that (by changing the recipes on their repo).

[2019-12-18 20:30] steckerhalter commented on #149
As far as i'm concerned you both can go ahead, change, review and merge back what you think is good. If you have questions I can answer them of course.

[2019-12-18 22:34] alphapapa commented on #149
I accepted the invitation, thanks.

I'll submit the changes to the MELPA recipes.

[2019-12-18 22:42] steckerhalter commented on #149
:+1: :ok_hand:

[2020-01-10 19:49] alphapapa opened #160 "ci/run.sh is dangerous"
https://github.com/quelpa/quelpa/blob/62f4ee3065c46d670631d069f0d5850b371edd3e/ci/run.sh#L7

@steckerhalter I really think we should delete this file ASAP.  It runs `rm -rf ~/.emacs.d` in multiple places.  If anyone mistakenly runs this script locally, it will delete their Emacs config.

See #159 which replaces the Travis-based CI with one using `makem.sh` and GitHub Actions, which is safe to run

[2020-01-26 02:29] tsuu32 opened #163 "What is the difference between C-u M-x quelpa and M-x quelpa-upgrade?"
Recent commits completely changed `M-x quelpa-upgrade` behavior.
This is breaking change, but no problem for me because I have never used `M-x quelpa-upgrade`.

I use `C-u M-x quelpa` to upgrade installed packages.
What is the difference between `C-u M-x quelpa` and current `M-x quelpa-upgrade`?

[2020-01-26 03:23] kiennq commented on #163
`C-u M-x quelpa` upgrade packages which are already on Melpa, whereas `M-x quelpa-upgrade` upgrade packages that are installed with Quelpa.
So in case you use Quelpa to install packages that are not on Melpa, the only way to upgrade those packages is using `quelpa-upgrade`.

[2020-01-26 03:52] tsuu32 commented on #163
I customize `quelpa-melpa-recipe-stores`. Specifically, I put `(add-to-list 'quelpa-melpa-recipe-stores "~/.emacs.d/quelpa-user/recipes")` in init file.
I have `~/.emacs.d/quelpa-user/recipes/spinner` file which the following code is written.
[code]
So I can upgrade spinner package that are not on Melpa by `C-u M-x quelpa`.

Is this a incorrent way to use `quelpa-melpa-recipe-stores`?

[2020-01-26 04:44] kiennq commented on #163
No, it's just inconvenient. Normally I expected that all package installed via `quelpa` can be upgrade without having write the recipe again somewhere.
For example, here is configuration of one package that's not on Melpa, and can be easily upgrade via `quelpa-upgrade`, without writing the recipe in again somewhere.

[code]

[2020-01-26 07:27] steckerhalter commented on #163
You can use multiple entries in `quelpa-melpa-recipe-stores`, even recipe lists instead of directories with recipes. The default looks like this (melpa recipe directory):

[code]

The idea is that you can use your own recipe stores. Melpa ist just the default. So you can choose to have your recipes in a personal store (and then just invoke `(quelpa 'foobar)` in the init file). Then it's easy to up

[2020-01-26 08:31] steckerhalter commented on #149
Thanks for participating in this discussion. I think we have a good way forward now and @alphapapa and @kiennq are doing a good at improving quelpa. I would suggest the following points for the collaboration:

- announce breaking changes and important improvements in the NEWS section of the README
- PRs should be small so that they can be merged in a reasonable time. if there is no consensus, a PR

[2020-01-26 08:31] #149 closed

[2020-01-26 16:39] tsuu32 commented on #163
For example, here is configuration of one package that's not on Melpa, and can be easily upgrade via quelpa-upgrade, without writing the recipe in again somewhere.

I understand.😄
Thank you.

[2020-01-29 09:06] steckerhalter commented on #163
is this ok? can we close the issue?

[2020-01-29 09:10] steckerhalter opened #164 "Maintenance question"
@alphapapa @kiennq
Does someone of you want to be like the "official" maintainer?

I can work on quelpa sometimes and since you participate I'm also more motivated to do it :smile:
But all in all I guess I wouldn't do a good job as the maintainer since I've got too many other things to attend to with higher priority for myself.

[2020-01-29 12:39] tsuu32 commented on #163
ok.
I close this issue.

[2020-01-29 12:39] #163 closed

[2020-01-29 21:36] alphapapa commented on #164
I'm willing to consider that.  Would you be a bit more specific about what arrangement you have in mind?

[2020-01-29 21:46] steckerhalter commented on #164
Thanks. Yeah well, it would be nice to have someone who takes care of quelpa, like to make it match new versions of Emacs, phase out old stuff, add features if possible and whatever is necessary to keep software current and relevant instead of at a standstill as it was before...

That would also mean to make decisions about further development, if PRs should be merged or not, deciding on change re

[2020-01-29 23:25] alphapapa commented on #164
Well, I do want Quelpa to continue to be relevant and useful, because I use it myself, and I recommend it as a way to install my packages as well.  So I'm willing to adopt it.  :)

I would say, similar to how I adopted Outshine, that I will fix bugs and compatibility issues as they come up, make improvements as seems wise (as I have time), and integrate other developers' work as they may offer it.

[2020-01-30 07:22] steckerhalter commented on #164
Nice! I'd say then we have a good way forward... thanks.

[2020-01-30 08:01] alphapapa commented on #164
@steckerhalter To ensure we're on the same page: What do you intend your role to be from now on?  Do you intend to keep ownership of the GitHub organization and repo?

I see that there are 4 of us in the organization now (and I don't know who vyp is).  Is anyone in charge?  Not that I foresee disputes, but it would be good to be clear up front about expectations.

Responsibilities are also importa

[2020-01-30 08:58] steckerhalter commented on #164
@alphapapa I'd say I make you an admin and so you can manage anything if necessary. Then you would be in charge until you need/want help. The others that are still members of the org have not participated for a long time so I don't think we need address this specifically.

[2020-02-27 03:03] steckerhalter commented on #164
@kiennq would you like to to act as "deputy" maintainer in case @alphapapa is on holidays or something?
or another possibility would be that you both are co-maintainers and the deputy role changes from time to time

[2020-02-27 03:19] kiennq commented on #164
Sure it would be fine to me. Normally I will approve (or reject) then wait for @alphapapa for a day.
@alphapapa please drop a line when you're available (not available) in those cases.

[2020-02-27 03:39] alphapapa commented on #164
A day is a very short time to wait for feedback on a PR.  I have quite a few active projects on GitHub, and I don't get to all of them every day.

To be honest, I'm not interested in being a co-maintainer with @kiennq, nor in some kind of "revolving deputy" arrangement.  That sounds like a recipe for conflict.  Our development styles have already been shown to be quite different, and having author

[2020-02-27 03:53] steckerhalter commented on #164
@alphapapa what you mean by "transferring the repo to your account"? this repo is part of the quelpa org and not connected to an individual account.

[2020-02-27 04:36] steckerhalter commented on #164
Well, in general I'd say what I have in mind is a consensus-based maintainership. Quelpa is not a project that needs a whole lot of work, but work can be done and if people work together to try to find consensus it's often beneficial for everyone. As quelpa is an org there is no adoption in this sense, but people can commit to fulfill a certain role in the org for a certain time and I'd prefer to

[2020-02-27 08:23] alphapapa commented on #164
@steckerhalter Of course, I respect your decision to run the project as you see fit, and I'm thankful for your work on it.  It's an invaluable part of my Emacs config, and I recommend it extensively in my packages' documentation.

I think that consensus-based maintainership can work well in the right circumstances, however I don't think that's the case at the moment here.  I hesitate to criticize

[2020-02-27 09:06] steckerhalter commented on #164
Thank you for your answer. I appreciate your aim to keep the quality of the project high. Since there seems to be a bit of a conflict brooding here now I'd suggest that I review the changes from @kiennq and we can discuss the maintenance question another time.

It seems that there are people using quelpa and I wasn't aware of that really until we moved back to Github (thanks to your suggestion). W

[2020-02-27 10:26] kiennq commented on #164
Thanks for your advise @alphapapa.
I'm not trying to be disrespectful here and also highly appreciate your aim of keeping quality of project.
I will just share my 2c here

As I said in a comment of #166, that PR is deprecating #155. The purpose of them are the same, to make user to not accidently upgrading (or even see) the uninstalled package.
That's why with #166, I close #155 without merging. T

[2020-02-29 04:13] alphapapa commented on #164
@steckerhalter Ok, I've merged the branch.  CI passes back to Emacs 25.1, e.g. https://github.com/alphapapa/quelpa/actions/runs/47113952  Note that elpa.gnu.org is giving intermittent Bad Request errors lately, and those can cause intermittent CI failures.

[2020-02-29 06:53] steckerhalter commented on #164
@alphapapa thanks! there been connectivity issues with elpa.gnu.org since the beginning so I'm used to that :smile:

[2020-03-02 07:44] steckerhalter commented on #160
the file is gone now

[2020-03-02 07:44] #160 closed

[2020-03-02 07:45] #164 closed

[2020-03-02 07:46] steckerhalter opened #167 "add CI status to README"
I have removed the Travis badge but would like to have a badge for the current CI. anyone knows how to do that?

[2020-03-02 07:47] steckerhalter commented on #167
hmm or maybe it's not needed since the build status is signified on top now anyway...

[2020-03-02 07:55] steckerhalter commented on #167
yeah I think that suffices

[2020-03-02 07:55] #167 closed

[2020-03-02 08:02] tsuu32 commented on #167
GitHub Actions provide svg badge for workflow such as `https://github.com/quelpa/quelpa/workflows/CI/badge.svg`.

[2020-03-02 08:08] steckerhalter commented on #167
@tsuu32 thanks, well I'd say since the build status is now listed anyway on top it would be kind of redundant. I'm happy as long as there is some indication on the latest commit status.

[2020-03-02 08:12] tsuu32 commented on #167
I see. I'm OK.

[2020-03-02 18:29] alphapapa commented on #164
@steckerhalter Do you plan to continue discussing the maintenance issue, or are you satisfied with the current situation?

[2020-03-02 18:48] kiennq opened #169 "Automatically uninstall deprecated package"
When upgrading new package with Quelpa, old package should be uninstalled automatically

[2020-03-02 18:51] steckerhalter commented on #164
@alphapapa no, I think it's alright like this. Thanks to you and the move to Github I realized that people still use quelpa and I don't want to abandon it anymore now :wink:

Of course I'd be glad if you guys can help me out a bit if I should lag behind because of my RL :smile:

[2020-03-02 18:58] alphapapa commented on #164
Ok.  Thanks for your work.

[2020-03-02 19:48] steckerhalter commented on #164
Thank you too

[2020-03-04 02:17] alphapapa commented on #169
@kiennq @steckerhalter This is not a good default.  New package versions may have bugs or adverse interactions with the user's configuration, and the user might need to revert to the older version.  But once the older version is deleted, the user no longer has that option.  `package.el` does not automatically delete old versions, so neither should Quelpa.

[2020-03-04 02:27] kiennq commented on #169
When I update package via `list-packages`, I surely saw the obsoleted package being deleted right after updating to new package successfully. So I thought deleting the old packages is default behavior.

Should we create a new option to not delete obsoleted package?

[2020-03-04 03:21] steckerhalter commented on #169
it is the default for package.el, yes and I would prefer to follow this behavior here too.
but to have an option for people that would like to keep the obsolete packages would be good too.

in general if a new version is buggy what a user should do is to pin the previously working version to a `:commit` or tag in the recipe

[2020-03-04 04:29] alphapapa commented on #169
It's not quite that simple.  If a user presses `U` in the package list buffer, upgradable packages are marked for installation and existing versions are marked for deletion.  But if a user presses `i` to upgrade a certain package, the old version is not marked for deletion.

If a user has installed a package from MELPA or ELPA with Quelpa, they won't have ready access to the package's git repo.  T

[2020-03-04 05:37] kiennq commented on #169
The problem with this is that sometimes old package got loaded instead of newer one when Emacs start. That's annoying and sometimes may lead to disaster, especially if the old package behavior is destructive and user need to update to newer one to avoid that.

Given that the behavior of `U` in package list buffer is deleting obsoleted packages too, I think it makes sense to automatically remove ob

[2020-03-04 08:07] steckerhalter commented on #169
ok, I almost never even bother to use the `list-packages` interface and install my packages via init file where obsoleted packages are removed by `package.el` by default.

but trying it out, when I upgrade `hydra` with `i` in `list-packages` the old version was removed too:

[code]

I always found the obsoleted packages sticking around annoying. If there was an issue with a new version I'd usually

[2020-03-04 09:55] kiennq commented on #169
I've made another PR and updates the doc there

[2020-03-04 11:13] tsuu32 opened #176 "Current master some problem"
Hello quelpa mentainers.
I updated quelpa to current master.
I feel some problem (but maybe there are not problem).

#### #166 is breaking change.

If I have old-style quelpa-cache file, `M-x quelpa quelpa-use-package` doesn't work.
old style cache:
((quelpa) (quelpa-use-package)...)

So I delete cache file. Is there another compatible way?

#### misleading message
I want to update posframe packag

[2020-03-04 13:16] kiennq commented on #176
This's indeed seems to be a bug, can you check it again with #175?
As a side effect of reorder code structure in #175 to archive the change, it should fix the problem of old cache is not compatible with newer one.

The message means we've deleted the old `posframe` package. We should indeed suppress the echo of the message.

I'm not experience this, did you use any package that advise `completing-

[2020-03-04 16:05] tsuu32 commented on #176
As a side effect of reorder code structure in #175 to archive the change, it should fix the problem of old cache is not compatible with newer one.

I checked #175 and can install quelpa-use-package via `M-x qulepa quelpa-use-package` with old quelpa cache.

I've tried with helm and with the vanilla completing-read seems there's no problem, the package always got deduplicated.

Oh, sorry. I use ivy

[2020-03-04 18:39] steckerhalter commented on #169
this should be fine then. thanks everyone for the work and contributions to the discussion :+1:

[2020-03-04 18:39] #169 closed

[2020-03-04 18:40] steckerhalter commented on #176
so is it now ok with the new changes merged in?

[2020-03-04 19:01] steckerhalter opened #178 "Recipe format"
A few years ago Melpa started refactoring `package-build` which quelpa relied on to build the packages. I think support for all VCS tools except git was removed as well. I then decided to merge the last `package-build` code with support for all VCS into quelpa.

An advantage of this was that `package-build` would not break quelpa anymore (which happened a few times) and we got rid of a dependency.

[2020-03-05 20:19] wolfer1ne opened #179 "Bring back `tar' requirement"
Hello,

looks like tar is still needed but requirement was deleted in commit https://github.com/quelpa/quelpa/commit/8049699add493bdde822e0baa571521f398a3768

I am using Windows and it was good reminder to get tar executable.

[2020-03-07 08:07] steckerhalter commented on #179
thanks, I've add tar as requirement in the readme

[2020-03-07 08:07] #179 closed

[2020-03-07 11:39] tsuu32 commented on #176
@kiennq thanks for addressing the problem!

I don't mind ivy-specific issue.

[2020-03-08 07:36] tsuu32 commented on #178
Currently I tkink difference of `quelpa` arguments (`ARG` and `PLIST`) is maybe unclear.
Both of `(quelpa 'package-name :stable t)` and `(quelpa '(package-name :stable t))` are in README.
Clarification of quelpa recipe format will solve this.

This is related FIXME `stable` test  in quelpa-test.el. (Oh `stable` test name is in collision?)

[2020-03-08 09:47] steckerhalter commented on #176
:+1:

[2020-03-08 09:47] #176 closed

[2020-03-11 10:34] tastytea opened #180 "Incompatibility with auto-package-update"
`auto-package-update-now` from [auto-package-update](https://github.com/rranelli/auto-package-update.el) tries to upgrade all packages in `package-activated-list` from ELPA repositories, including quelpa packages.

I guess that should be mentioned in the readme?

See also: https://github.com/rranelli/auto-package-update.el/issues/42

[2020-03-11 14:12] alphapapa commented on #180
Tools like that should not be assumed to be compatible with third-party package management tools, such as Quelpa.  It's not Quelpa's responsibility to document its compatibility, or lack thereof, with all such tools.

And, as I always say, automatically upgrading Emacs packages is a Bad Idea (TM), anyway.  You're asking for trouble.

[2020-03-11 15:04] steckerhalter commented on #180
@tastytea I'd say if it can't be fixed for  `auto-package-update` then the readme of that package should mention the incompatibility, or if that is too much at least a notice that it might not work with other package managers.

[2020-03-11 15:19] #180 closed

[2020-03-11 17:51] alphapapa commented on #178
It would probably be good to adhere as closely as possible to `package-build`'s recipe format and default recipe.  If package authors and users were to have to convert between them, it would likely put off many potential users.

[2020-03-11 19:50] steckerhalter commented on #178
@alphapapa yeah. I think the main difference is that we support the old VCS and emacswiki while `package-build` does not anymore. I don't think it was an issue until now otherwise there would have been reports.

I'm also thinking that melpa probably doesn't want to change the format because that would mean a lot of work if they'd have to adapt thousands of recipes. It's just good to keep it in min

[2020-03-12 10:49] priyadarshan commented on #178
The non-profit I have been volunteering uses subversion (they recently moved from git, if that matters).

All significant internal elisp code is now under svn. I know that melpa will not re-allowed svn fetcher, but is there a way to enable Quelpa to have it, or is `el-get` the only viable solution for now?

[2020-03-12 11:03] kiennq commented on #178
Quelpa does allow you to use svn fetcher, the recipe should look like `(confluence :fetcher svn :url "https://svn.code.sf.net/p/confluence-el/code/trunk/" :files ("confluence*.el" "*.dtd" "*.xsl"))`

[2020-03-12 11:29] priyadarshan commented on #178
Wonderful, thank you!

[2020-03-12 12:55] alphapapa commented on #178
They moved from Git to Subversion?

[2020-03-12 13:04] priyadarshan commented on #178
I am glad one asked (usually people are bashed for even suggesting "old" systems). In their case, they spent a few months with a seasoned engineer, going through very thoroughly their use cases, and basically found all that what said [here](https://svnvsgit.com/) was true. (Sorry for the OT).

[2020-03-12 13:09] alphapapa commented on #178
LOL, well, whoever wrote that web site certainly has a strong opinion against git:

[2020-03-12 19:19] steckerhalter commented on #178
I worked on a bigger work project which was using svn. Each time I wanted to commit it was like a ritual. And I was scared to make a mistake and break the thing. With DVCS you can wipe out everything and it affects nobody. Later if you clean up the mess you can do a PR and a sane person reviews your shit. I don't miss you, SVN :laughing:

[2020-03-13 07:24] priyadarshan commented on #178
It does not seems the case with this non-profit. But thanks, it is good to know.

[2020-03-13 07:29] steckerhalter commented on #178
sure, everyone should use what they want and if they're happy with svn that's alright. it's certainly better than having no VCS which is still done even today in some companies

[2020-03-17 08:37] steckerhalter commented on #178
I'm closing this since I don't think we need to do anything currently. If anyone feels motivated to better document how recipes work in quelpa (with examples for svn, mercurial etc.), go for it! :smile:

[2020-03-17 08:37] #178 closed

[2020-03-30 16:51] slippycheeze opened #182 ":file source causes build failures when copying from a read-only filesystem"
For complicated reasons I build a package where the source is accessible via a local directory but where all files and directories are read-only.

quelpa fails during building because `copy-directory` always preserves file, but importantly, directory permissions.  This leads to a read-only directory in `~/.emacs.d/quelpa/build/...`, which in turn breaks the build when it tries to write a stamp fil

[2020-03-30 18:49] steckerhalter commented on #182
Hi! Looking at the code I don't think it's necessary to preserve file permissions really. At least I do not see any reason for it now so we might just drop the flag.

[2020-03-30 18:53] steckerhalter commented on #182
but looking at the docs there's no way to instruct `copy-directory` not to preserve the file modes:

[code]

[2020-03-30 19:02] steckerhalter commented on #182
is the directory really read-only? because it seems that `copy-directory` which uses `copy-file` internally does not try to preserve the permissions

[2020-04-01 15:18] steckerhalter commented on #182
can you please try to use `copy-directory` on your read-only directory to see if it retains the read-only permissions?

[2020-04-15 18:43] Saul-BT opened #183 "Error: wrong type argument: package-desc, nil"
Hi,
[This is the issue](https://github.com/quelpa/quelpa-use-package/issues/14)

[2020-04-16 11:01] Saul-BT commented on #183
[Issue Solved](https://github.com/quelpa/quelpa-use-package/issues/14)

[2020-04-16 11:01] #183 closed

[2020-05-11 02:07] kiennq opened #184 "Single file package must be same name with the package."
I saw this, @steckerhalter do you know why there's such restriction?
[code]

[2020-05-12 06:09] steckerhalter commented on #184
I think the package name needs to be equal to the filename. Not totally sure though as this is from what was `package-build`. I didn't write it myself.

[2020-05-29 13:44] wyuenho opened #186 "quelpa-upgrade has no effect after switching branch with older commit"
Reproduction:
1. Put this in .emacs
[code]
2. Start up emacs
3. M-x quelpa-upgrade RET window-purpose RET
4. Change branch to `"improve-code1"`
5. Restart emacs
6. M-x quelpa-upgrade RET window-purpose RET
7. Notice package timestamp is still the timestamp of `improve-code1-emacs27-recursive-load-temp-fix`'s latest commit.

Expectation:
Switching branch should checkout the latest commit from that

[2020-05-30 05:51] steckerhalter commented on #186
When I install this:

[code]

I end up getting: `window-purpose-20200328.937`

which is weird because the time stamp should be 2019:

[code]

I don't know yet why it happens

[2020-05-30 05:52] steckerhalter commented on #186
20200328.937 is the time stamp from the other branch `improve-code1`

[2020-05-30 11:07] wyuenho commented on #186
The timestamps are correct. They are commit times, not author times. It's quelpa that isn't correctly handling them by switching branches in the local clones, comparing correctly and replacing the packages in `package-user-dir`

[2020-05-30 21:08] steckerhalter commented on #186
alright. @kiennq do you have time to take a look what's going on here?

[2020-05-31 10:38] kiennq commented on #186
There're two issues here:
1. `Quelpa` doesn't support to upgrade to older version. As `improve-code1` has older timer than `improve-code1-emacs27-recursive-load-temp-fix`, when you run `quelpa-upgrade` it will not downgrade to that.
2. How did you change branch to `improve-code1`?
If you change it by `git checkout` in cloned repository folder under `quelpa-build-dir`, then `quelpa-upgrade` will no

[2020-05-31 10:50] wyuenho commented on #186
I'm using `use-pacakge-quelpa`, I just changed the `:branch` value in the recipe.

To me, upgrade means upgrading from whatever is installed by package.el, so I'd expect this case to work. If there's already a clone locally, quelpa should simply do a fetch and check out the requested branch.

[2020-05-31 11:54] kiennq commented on #186
No, it's not like that. Upgrade here means upgrade to newer version, same meaning with upgrade by `package.el`, i.e., from `list-packages`.

[2020-05-31 16:17] steckerhalter commented on #186
@kiennq yeah well, I'd say the whole point of `upgrading` always was that and not to downgrade so the whole logic is built around this concept, comparing version numbers if the requested version is higher than the current version etc.

I guess to make it possible to switch to any version, the code would have to be changed substantially and also "upgrading" wouldn't make sense for such an action. U

[2020-05-31 19:27] kiennq commented on #186
@wyuenho, with #187 you can
- go to cloned package repositories under `quelpa-build-dir`,
- switched to your development branch and upgrade to it with `C-u C-u M-x quelpa-upgrade`.

[2020-05-31 22:20] wyuenho commented on #186
@kiennq that's what I did, doesn't mean this isn't a bug tho.

[2020-06-01 04:18] kiennq commented on #186
That would be more like a feature request to me.
Up until now, Quelpa only support upgrade to newer version. So, even if you change the branch in your recipe, it will not downgrade to that. It does checkout to the latest commit in your branch in cloned repository though.
This is done since you can upgrade your package to MELPA version via `package.el` too. We don't want to overwrite user package i

[2020-06-02 15:04] kiennq commented on #186
@wyuenho Do you think #187 is sufficient for your case? I.e., you can use `C-u C-u M-x quelpa-upgrade` to upgrade to local checkout branch, regardless of current installed version.

[2020-06-04 01:33] #184 closed

[2020-06-04 11:27] wyuenho commented on #186
This works for me, thanks

[2020-06-04 11:27] #186 closed

[2020-06-14 20:02] steckerhalter commented on #182
can I close this or what is the status?

[2020-06-16 15:28] steckerhalter opened #189 "issue installing `thingatpt+`"
For the record, this seems to have broken installing `thingatpt+` for me:
[code]
 Results in `Error (use-package): Cannot load thingatpt+` even though the file is correctly downloaded to the build directory, and evaluating it manually fixes the issue.

I tracked it down to `version` being `nil` in this function:
[code]

Setting `(setq quelpa--override-version-check t)` fixes the issue. This PR set

[2020-06-16 17:59] mpereira commented on #189
Thanks for creating the issue @steckerhalter.

[2020-06-16 23:45] kiennq commented on #189
`quelpa--override-version-check` is newly introduced variable, so this is not breaking change. The problem is that the logic in `quelpa-version-p` is not accounting for prerelease/beta/alpha/snapshot package, thus makes the installing of `thingatpt+` with version `0pre0.20200617.81650` failed.

[2020-06-17 22:05] #189 closed

[2020-06-18 15:20] akayj opened #191 "bootstap quelpa blocked by github"
Bootstap `quelpa` failed in following way:
[code]

github blocked this anonymous http request:
[code]

[2020-06-18 17:18] steckerhalter commented on #191
works for me so it's probably related to your IP or IP range:

[code]

[2020-06-24 07:00] akayj commented on #191
sorry, GFW's fault. I will close this issue, btw, thanks a lot.

[2020-06-24 07:00] #191 closed

[2020-06-24 19:07] rswgnu opened #192 "Request for help producing recipe for GNU Hyperbole"
We would like to get GNU Hyperbole installable via quelpa.  It is on Github and ELPA but not presently on Melpa.  The issue is that some code is in subdirectories of the package and must stay there when installed for proper installation, .e.g kotl/.  Additionally, the Info pages are below the directory man/.

The source is at:   www.github.com/rswgnu/hyperbole

Can you help by either producing a r

[2020-06-27 06:02] steckerhalter commented on #192
Hi. If you want to include some directories you can use a recipe like that:

[code]

in this case the dirs `data` and `images` should be added to the installation

[2020-07-02 14:09] #182 closed

[2020-07-16 16:30] pbeliveau opened #193 "Silence "Newer package has been installed. Not upgrading.""
Is there a way to silence the quelpa message when a quelpa-build returns:
`Newer package has been installed. Not upgrading.`

I get this message multiple time at init, see *Messages* extract:
`Newer package has been installed. Not upgrading. [27 times]`

The source of the message is here:
[https://github.com/quelpa/quelpa/blob/master/quelpa.el#L281](https://github.com/quelpa/quelpa/blob/master/que

[2020-07-16 17:50] aspiers opened #194 "bootstrap code fails on some systems due to HTTP 302"
https://github.com/quelpa/quelpa#installation says:

However that URL returns an HTTP 302, so `url-insert-file-contents` inserts 0 bytes into the temporary buffer, and the self-upgrade fails.  In order to avoid a redirect, the correct URL should be https://raw.githubusercontent.com/quelpa/quelpa/master/quelpa.el

[2020-07-16 19:08] kiennq commented on #193
One way is to around advice `quelpa-build` with `inhibit-message` as `t`

[2020-07-16 21:05] pbeliveau commented on #193
Followed your advice (no pun intended), and wrapped 'quelpa-build with someone else function. It works well and suppress the message. See: [Link to commit.](https://github.com/pbeliveau/.emacs.d/commit/1401e0ba2e0d38134807ba017c2aec9a32fe41aa)

[2020-07-16 21:05] #193 closed

[2020-07-17 08:17] steckerhalter commented on #194
Hi, it should work with the redirect. I suspect another problem. It might be that your request is blocked by github as we had here for example: https://github.com/quelpa/quelpa/issues/191

[2020-07-17 11:14] aspiers commented on #194
I'm AFK now but I'm pretty sure replacing the URL fixed it. However it worked on a few machines with 26.3 but not another with 26.1.

[2020-07-17 17:28] steckerhalter commented on #194
why should the redirect be a problem? `url-insert-file-contents` should work with redirects AFAIK. if it returns empty content there is probably another issue unrelated to the redirect.

[2020-07-30 13:58] aspiers commented on #194
It might be a problem if 26.1 doesn't handle them correctly.  Like I said, I'm pretty sure replacing the URL with the non-redirected one fixed it, so that would be a clear indication that the issue is the 302.

[2020-08-01 06:07] steckerhalter commented on #194
i changed the address: https://github.com/quelpa/quelpa/commit/f1fc228f217be692eaae2d53f51966ce922d6a32

[2020-08-01 09:04] aspiers commented on #194
Thanks!

[2020-08-01 09:04] #194 closed

[2020-08-01 14:47] steckerhalter commented on #192
is this still a thing?

[2020-08-02 01:28] rswgnu commented on #192
Yes, it is fully compatible with other current emacs packages as well.

-- Bob

[2020-08-02 15:25] steckerhalter commented on #192
So yeah, as I have written you can add the folders with `:files` like I have written above, e.g.:

[code]

that should be enough to include the subdirectories, if you want additional files you can add globs etc. as documented here: https://github.com/melpa/melpa#recipe-format

[2020-08-21 05:43] jcs090218 opened #195 "Tag a release for Melpa Stable?"
As title, Thanks! :)

[2020-08-21 06:12] steckerhalter commented on #195
https://github.com/quelpa/quelpa/releases/tag/v1.0

[2020-08-21 06:16] jcs090218 commented on #195
Thanks! I appreciated! 👍

[2020-08-21 06:16] #195 closed

[2020-08-24 08:01] kiennq opened #197 "Make quelpa-build--run-process be able to run asynchronously"
This will help reduce Emacs down time due to waiting for pulling files from remote repo

[2020-08-24 18:18] steckerhalter commented on #197
sounds interesting :smiley:

[2020-08-31 10:03] jcs090218 opened #198 "Install with file other than .el file"
I am trying to install my own package [jcs-elpa/impatient-showdown](https://github.com/jcs-elpa/impatient-showdown) and there is file `preview.html` but it doesn't get installed.

Any idea? 😕

[2020-08-31 12:45] kiennq commented on #198
You will need to setup your recipe to include `preview.html` in `:files`.
If you ever one to put your package to MELPA, this will be a good practice too.
For example, take a look at this recipe
[code]
Outside of default `.el` files, it also include `lsp-ui-doc.html` and files under `resources/*`

[2020-08-31 16:15] jcs090218 commented on #198
Thanks! I appreciated!

[2020-08-31 16:15] #198 closed

[2020-09-01 04:18] jcs090218 opened #199 "Install as installed and not dependency"
Right now when I install a package through quelpa; the package itself is mark as `dependency` yet is not. Is there a way to avoid this and instead just mark it as `installed` and not `dependency`? 😕

Thanks!

[2020-09-01 05:17] kiennq commented on #199
@steckerhalter.

[2020-09-02 14:43] tsuu32 commented on #199
If `package--user-selected-p` of the package is non-nil, the package is marked as `installed`, otherwise `dependency`.
In my environment `(package--user-selected-p 'company)` returns non-nil, so `company` is marked as `installed`.

I don't know when `quelpa` (or package.el) sets`package-selected-packages` variable.

[2020-09-02 15:11] jcs090218 commented on #199
I usually let the `package.el` decide weather a package should be a `dependency` or `installed`. I think the default action is to install it as a `installed` and not `dependency`? And then at any time later if `package.el` find out the package is actually a `dependency` then it will change as it.

[2020-09-02 15:29] tsuu32 opened #200 "Problematic quelpa-cache"
Hi,
Thanks for the maintaining quelpa!

Today I found `C-u M-x quelpa lsp-mode` doesn't upgrade lsp-mode package correctly.

Few days before, lsp-mode recipe in MELPA was changed (https://github.com/melpa/melpa/commit/525ea5927f1c66dc56b49aab40667be15a7ea063).
But `C-u M-x qulepa` uses old recipe in `quelpa-cache`, so installing fails.

https://github.com/quelpa/quelpa/blob/ed7ce05c85f5e24e7f434fc

[2020-09-02 15:41] kiennq commented on #200
The problem is that if user install something not on MELPA, then delete it. After that user cannot install that package from `quelpa` again since `quelpa-cache` is not included in `quelpa-melpa-recipe-stores` anymore in `quelpa`.

We may need some more thoughts on this to support this scenario

[2020-09-02 15:52] tsuu32 commented on #200
I think such user installed the package via `(quelpa '(original recipe))` elisp not `M-x quelpa` command.
Why does the user feel he/she want to install the package via `M-x quelpa` command.?

[2020-09-02 16:18] tsuu32 commented on #199
Is this true?

In my environment,
package.el:
Installing `dash` and then installing `magit`, `M-x list-packages` says `dash` and `magit` are `installed` and others (such as `transient`) are `dependency`.

quelpa.el:
Installing `dash` and then installing `magit`, `M-x list-packages` says all (such as `dash`, `magit` and `transient`) are `installed`.
(That's because `qeulpa` use `package-install-fil

[2020-09-02 16:21] kiennq commented on #200
Why not? Using the `(quelpa '(original recipe))` is lengthier way and not as nice as `M-x quelpa`.

Also if user mistakenly update custom recipe package via `C-u M-x quelpa`, it will overwrite custom package in `quelpa-cache`, resulted in updating a wrong package even with `quelpa-upgrade`.

Let see if we can simply resolve these problems before removing `quelpa-cache` from `M-x quelpa`

[2020-09-02 16:47] tsuu32 commented on #200
Oh, I overlooked such a case... Yes, removing `quelpa-cache` from `M-x quelpa` is not good solution.

quelpa.el doesn't provide the function or user command which delete unneeded pakcage recipe from `quelpa-cache`.
In my case such function solves my problem.

[2020-09-03 01:52] jcs090218 commented on #199
package.el:
Installing dash and then installing magit, M-x list-packages says dash and magit are installed and others (such as transient) are dependency.

Yeah, I think I did not express correctly in the last but yes, this is what I mean when package.el find out the dependency!

Installing dash and then installing magit, M-x list-packages says all (such as dash, magit and transient) are installed.

[2020-09-03 06:52] tsuu32 commented on #199
Please check `package-selected-packages`‘s value.

[2020-09-03 06:55] jcs090218 commented on #199
Yes, the new installed package through `quelpa` is not added by default. At least on my end, that is the result.

[2020-09-03 07:11] steckerhalter commented on #199
sry, I'm absorbed with RL... probably will have time in a few days...

[2020-09-04 06:58] kiennq commented on #200
After thinking, I think it would be just fine to put `quelpa-cache` after `quelpa`.
That way + the default of `quelpa-upgrade-p` is `nil` will allow both:
- MELPA recipes are prioritized over temporary recipe defined with `M-x quelpa`.
- User would not accidentally update package by using `quelpa`
- Temporary recipe defined with `M-x quelpa` that's not in MELPA is still being installable via `M-x

[2020-09-04 07:59] kiennq commented on #199
@thierryvolpiatto as he can provide advices about `package.el`

[2020-09-05 07:22] thierryvolpiatto commented on #199
kiennq <notifications@github.com> writes:

Each package user install explicitely e.g. M-x package-install foo is
considered as an installed package i.e. it is added to
package-selected-packages.
If later you install another package that use it as dependency, it is
still considered as an installed package i.e. it stays in
package-selected-packages but if you want to delete it, package.el will
notic

[2020-09-06 03:34] kiennq commented on #200
@tsuu32 Can you check if #202 resolve your issue?

[2020-09-06 11:00] tsuu32 commented on #200
@kiennq thanks for doing this.
I confirmed #202's quelpa.el can install lsp-mode correctly even when `(lsp-mode :repo "emacs-lsp/lsp-mode" :fetcher github)` (which is old recipe) exists in `quelpa-cache`.

[2020-09-06 11:53] #200 closed

[2020-09-07 15:52] condy0919 opened #205 "quelpa-upgrade lists only one package when two installed"
bootstrap `use-package` and `quelpa`:

[code]

I mainly use `quelpa` to install those packages not published in melpa.

[code]

But `quelpa-upgrade` only lists `llvm-mode`.

[2020-09-07 16:18] kiennq commented on #205
This should be a bug in `package.el` that return `package-installed-p` for `tablegen-mode` as `nil`.

The reason is that `package-installed-p` is using `version<=` which is assume that `nil` version means `(0 0)`.
That is not actually correct since basically compare `nil` version to `(0 -1)`, the later should have higher version than the former one.

Can you report an Emacs bug for this?
In the me

[2020-09-07 17:48] condy0919 commented on #205
Thanks for your quick reply.

The bug ticket https://debbugs.gnu.org/cgi/bugreport.cgi?bug=43260

[2020-10-01 17:07] dabrahams opened #206 "passing nil to tar--check-descriptor"
I did `M-x quelpa RET cask` and got:

[code]

Ideas?

[2020-10-01 18:54] kiennq commented on #205
@condy0919 Can you check with #207?
Sorry for late fix.

[2020-10-01 22:24] condy0919 commented on #205
Fixed, the issue has gone away. Thanks!

[2020-10-01 22:38] #205 closed

[2020-10-03 12:04] publicimageltd opened #208 "Is there a way to determine the branch for the local git fetcher?"
I turned to quelpa a while ago, and I don't regret it at all. I like it, and in particular I like that I can fetch my own little packages from my own git repositories (stored on my harddisk). So I can keep my packages under version control and work on them while still using the stable version. Thanks for this great package!

One lacuna there is, however. I _thought_ that the local git fetcher only

[2020-10-03 21:44] tsuu32 commented on #208
You say `:branch "branch-name"` doesn't work for local repo?
Quelpa recipe format is compatible with [MELPA recipe format](https://github.com/melpa/melpa#recipe-format) so quelpa supports `:branch "branch-name"`.

[2020-10-04 05:42] publicimageltd commented on #208
OK, RTFM. You are right. I looked for it in the quelpa documentation on github, I should have looked at the recipe format instead.

[2020-10-04 05:42] #208 closed

[2020-10-04 05:57] kiennq commented on #206
File header corruption?
That `M-x quelpa RET cask` works for me though

[2020-10-05 16:15] dabrahams commented on #206
Not sure what you mean by that.  It still fails this way for me, FWIW.

[2020-10-13 05:10] tsuu32 commented on #206
What's your platform?
If you use macOS built-in `tar`, Installing `gtar` may resolve the problem.

[2020-10-18 16:01] jcs090218 commented on #164
hmm... I have left the comment [here](https://framagit.org/steckerhalter/quelpa/-/issues/171), but I somehow forgot about this.

@steckerhalter Would you mind adding me as another maintainer? I would like to co-maintain this package mainly because my config heavily depends on this. Thank you and thanks your awesome work!

[2020-10-19 18:28] steckerhalter commented on #164
@jcs090218 yeah sorry I'm late with answering... I'll add you

[2020-10-19 18:33] jcs090218 commented on #164
@steckerhalter Sorry for bothering you! You are not late for answering! I am just worry that I may forgot about this again!

Anyway, thank you very much! 😄

[2020-10-27 02:28] rswgnu commented on #192
Sorry, I forgot about this thread.  Your recipe works great and is very helpful.

One last question.  I know there is some :upgrade parameter but it didn't do what I expected.  With some upgrade parameter, I'd like quelpa either install the package if not installed or upgrade it to the latest version of master or whatever branch is selected.  Maybe it is a use-package problem and I have to install

[2020-10-27 04:14] kiennq commented on #192
What happens if you just eval `(quelpa '(burly :fetcher github :repo "alphapapa/burly.el" :upgrade t))`?
I think `quelpa-use-package` will not install/run `quelpa` command if package installed

[2021-01-09 02:00] sleep-walker commented on #206
I have run into similar issue via this:
[code]

[code]

Running on openSUSE Tumbleweed, tar is present (GNU variant).

[2021-03-04 10:12] dalanicolai opened #213 "Error when using quelpa-upgrade-all"
I am on Spacemacs, and I have just updated some package in some github repository. I have installed this package with a quelpa recipe in the Spacemacs `additional-packages` in the dotfile.

Now when I try to issue `quelpa-upgrade-all` the package does not get updated. However, the following error shows up in my messages buffer (I paste some extra lines before and after the error to show that other

[2021-03-09 05:33] andreoss opened #214 "quelpa-git-clone-depth should not be used for "dumb" http repos"
`git clone` fails for "dumb" repositories such as `paredit`

Reproducible with:
[code]
Fails with
[code]

Workaround:
[code]

[2021-03-13 09:19] kiennq commented on #213
[code]

This is by design currently. `Quelpa` is default not forcefully upgrading package that has local change since package developer can make change into those packages, and we don't want to just clear the change without justification from user.

To forcefully update those packages, there's `C-u M-x quelpa-upgrade-all`.

[2021-03-13 09:22] kiennq commented on #214
Quelpa shalllow clone might be too much and not really developer friendly.
With recent `git` we have [partial clone](https://github.blog/2020-12-21-get-up-to-speed-with-partial-clone-and-shallow-clone/) which is also provide small repository size (like shallow clone) and developer friendly. Perhaps we should switch to use partial clone instead.
WDYT, @steckerhalter ?

[2021-03-13 09:40] steckerhalter commented on #214
Sure if you wanna give this try

[2021-03-13 12:19] #214 closed

[2021-03-15 23:38] dalanicolai commented on #213
Ah, that makes sense! Thanks for the reply.

[2021-03-16 00:36] #213 closed

[2021-03-16 00:36] kiennq commented on #213
Thanks, I will close the issue.

[2021-03-24 21:15] lebensterben opened #217 "Feature request: `:patches` keywords"
It's common that sometimes users want to install a modified version of a package.
Currently, the user needs to fork the package and host it somewhere (with or without version-control, remote or local, etc).

I propose to add a new keyword `:patches`, which accepts an ordered list of patch files represented as their local file path or remote locations. And `quelpa` would apply those patches, after

[2021-03-28 15:33] cubranic opened #218 "Partial cloning requires very recent versions of git"
For instance, `--filter=blob:none` was added in git v2.20, which was released in late 2018, so would only be available in the most recent Ubuntu LTS. Centos lags even further behind: Centos 7 includes only Git v1.8. It would be nice if `quelpa` detected such installations and either printed a warning message to the user or automatically fell back to setting `quelpa-git-clone-partial` to `nil`.

Or

[2021-03-28 15:43] kiennq commented on #218
I would definitely recommend to upgrade to latest Git version if possible since old Git client can contains some very serious security [bugs](https://www.cvedetails.com/vulnerability-list/vendor_id-15815/product_id-33590/Git-scm-GIT.html)
Will add the mention in prerequisite and some code to check for git version.

[2021-03-28 15:51] cubranic commented on #218
Thank you!

[2021-03-29 06:39] #218 closed

[2021-04-06 14:33] madscientist opened #220 "Docs for :upgrade are confusing / inadequate"
I was using quelpa plus quelpa-use-package to install the latest cc-mode for a long time but sometime around last October it stopped working: I realized I've just been re-using the same version without any updates since then, and if I delete that version then quelpa doesn't install a new version.  All I see in my minibuffer is:
[code]

I spent a lot of time this morning trying to work out what is

[2021-07-10 14:41] rakoenig commented on #206
I'd bet that if you do

`tar --show-defaults`

you'll get

[code]

This happens on my openSUSE Leap 15.2 as well. The first successful attempt I did was recompiling "tar" with default-format "GNU". But then after looking at the quelpa-sources I think that there is an easier way:

Customize the variable `quelpa-build-explicit-tar-format-p` to "t" and [this code](https://github.com/quelpa/quelpa/blo

[2021-07-18 07:26] andreoss opened #221 "Wrong type argument: package-desc, nil during bootstrap"
The bootstrap snippet from [README](https://github.com/quelpa/quelpa#installation) does not work currently

bootstrap.el:
[code]

[code]
[code]

[code]

[2021-07-18 12:49] kiennq commented on #221
Can you run `tar --version` and post the output here?
Also check this https://github.com/quelpa/quelpa/issues/206#issuecomment-877648715

[2021-07-18 22:12] andreoss commented on #221
@kiennq
Installing GNU tar fixed this issue. A better error message here would be nice to have.

[2021-07-18 22:12] #221 closed

[2021-09-20 06:24] kiennq commented on #220
@madscientist Can you help to create a PR for a new example? The current example is `(quelpa 'package-name :upgrade t)`, which make `:upgrade t` as a parameter of `quelpa` command instead of package definition (`package-name` in this case).
However, I do agree that is quite confusing.

[2021-10-07 06:12] danielfleischer opened #223 "quelpa-read-cache: End of file during parsing"
Can't install packages; getting `quelpa-read-cache: End of file during parsing`.

Emacs 28    `f7e6c199bf5b915e000bad964f3be2323d07647e`.

[2021-10-07 07:36] danielfleischer commented on #223
Thanks, it worked.

[2021-10-09 03:42] myTerminal opened #224 "Unable to install packages with entry files organized under a directory"
While installing packages with the `github` fetcher, usual packages work fine. One example is [theme-looper](https://github.com/melpa/melpa/blob/master/recipes/theme-looper), that works with the below script:

    (quelpa '(theme-looper :fetcher github
                           :repo "myTerminal/theme-looper"))

However, for packages that have their entry files organized into a directory other th

[2021-10-09 03:47] kiennq commented on #224
Can you try to use magit recipe with `quelpa`? it should work

[2021-10-09 04:03] myTerminal commented on #224
Running `(quelpa 'magit)` worked like a charm. So that means I can install MELPA recipes with quelpa as well? I'm sorry if this is obvious, but I might have missed it in the documentation.

[2021-10-09 04:09] myTerminal commented on #224
I just re-read the documentation once again, and now I'm an even bigger fan of quelpa. Thank you for your super-quick help! I'll close this issue.

[2021-10-09 04:09] #224 closed

[2021-11-15 05:30] myTerminal opened #225 "`quelpa-upgrade-all` seems to ignore `:stable` flag"
Thanks for the wonderful package by the way!

Every time I upgrade all packages using `M-x quelpa-upgrade-all`, it upgrades all packages to the latest possible version, regardless of whether I specified installing only "stable" packages. Below is an example of how I install packages in my config:

    (quelpa workgroups2 :stable t)

This does produce the right results: installs the latest tagged v

[2021-11-16 01:56] kiennq commented on #225
I guess you will need the customized recipe for `workgroup2` in this case.
For example, `(quelpa '(evil-escape :repo "kiennq/evil-escape" :fetcher github :stable t))`

[2021-11-16 04:20] myTerminal commented on #225
I do have a pretty expressive config for how I fetch my packages, which is a mix of `url`, `github` and `melpa`. You may find them [here](https://github.com/myTerminal/.emacs.d/blob/1fdbe0aab73fb325b51286ed746794bda6897beb/emacs/myTerminal/basic/packages.el#L1) and [here](https://github.com/myTerminal/.emacs.d/blob/1fdbe0aab73fb325b51286ed746794bda6897beb/emacs/myTerminal/standard/packages.el#L1).

[2021-11-18 00:11] kiennq commented on #225
What's the value of your `quelpa-cache`?

[2021-11-18 19:33] myTerminal commented on #225
`((ace-window :repo "abo-abo/ace-window" :fetcher github) (anzu :fetcher github :repo "emacsorphanage/anzu") (avy :repo "abo-abo/avy" :fetcher github) (buffer-move :fetcher github :repo "lukhas/buffer-move") (column-enforce-mode :fetcher github :repo "jordonbiondo/column-enforce-mode") (company :repo "company-mode/company-mode" :fetcher github :files (:defaults "icons")) (counsel-projectile :fetch

[2021-11-18 19:39] myTerminal commented on #225
The other thing is, the `cache` seems to preserves the `:stable` flag only for the packages I install using from "github" or "url" . For the ones that I install from MELPA and I supply `:stable t`, it totally ignores that. Pretty much all other packages from MELPA have a missing `:stable` property.

[2021-11-18 20:19] myTerminal commented on #225
I ran a few more tests, and found something interesting.

When I have `multiple-cursors` installed from MELPA, below is what makes it to the `quelpa-cache`:

    (multiple-cursors :fetcher github :repo "magnars/multiple-cursors.el")

However, when I switch to github instead, the entry for `multiple-cursors` looks like this:

    (multiple-cursors :fetcher github :repo "magnars/multiple-cursors.el"

[2021-11-19 12:08] kiennq commented on #225
So for this one `(quelpa workgroups2 :stable t)`, the `:stable t` is flag for the `quelpa` command instead of as a part of the recipe for `workgroup2`. So it will not make it into the cached recipe.
If you're using your customer recipe like `(quelpa '(workgroup2  :fetcher ... :stable t))` then the `:stable t` will be part of the recipe and the `quelpa-uprade` will work properly.
I guess this is by

[2021-11-19 18:54] myTerminal commented on #225
That makes sense. Currently, evaluating `(quelpa '(workgroup2 :stable t))` results in an error that says that it's not able to construct the method `quelpa-build--checkout-*`. Also, providing a `:fetcher` as "melpa" results in an error as there's no function named `quelpa-build--checkout-melpa` as there isn't any.

As a side note, back when I migrated from `package.el` to `quelpa`, I had to use "m

[2021-11-20 04:59] myTerminal commented on #225
I switched to "github" for all my packages now, and the only issue (as I mentioned) that was forcing me to use "melpa" was the source files not being at the root of the repos. [This change](https://github.com/myTerminal/.emacs.d/commit/b8a243aba9a478ca1c4c8c52594dc4689d3478db) fixes it. Thanks once again, @kiennq!

[2021-11-20 04:59] #225 closed

[2022-02-16 23:24] contrapunctus-1 opened #228 "Make long/network operations async"
Standard benefits - the user could continue to use Emacs without having to launch a new one, EXWM users could continue to use their system, etc.

[2022-02-20 04:54] contrapunctus-1 commented on #228
Duplicate of #197 (how the heck did that not turn up in my search results? :confused: )

[2022-02-20 04:54] #228 closed

[2022-02-20 05:59] contrapunctus-1 commented on #224
I think I have the same problem, except I'm trying to use Quelpa to install Org from source. My configuration was -

[code]

But `org-version` would report that I was using v9.3, the one part of Emacs. An `"~/.emacs.d/elpa/org-2022..."` directory [^1] was present in `load-path`. Not sure how to proceed, since Org does not seem to have a recipe on MELPA.

[^1]: That's the one built by Quelpa, right

[2022-03-14 18:15] lafirest opened #229 "support subdirectories for the file fetcher"
I found that the file fetcher builds with path doesn't support subdirectories, but sometimes this is needed, maybe we should support this feature?

[2022-05-10 16:50] 2e0byo commented on #224
@contrapunctus-1 the magit recipe looks like this:

[code]

You can easily build something similar for org (not that I've tried, mind...)

[2022-05-27 11:35] wilya7 opened #230 "when opening a url, the proxy setting is not honored by quelpa"
I have the following code in my init.el

[code]

Before updating to emacs 28 I had no problem. Since the update, quelpa will not honor this proxy setting but it will try to connect directly to the target git repository.

This is how I reproduce the bug: if I block at the firewall level any direct connection, allowing only the proxy to access the WAN side of my home network, and then I try `M-X que

[2022-05-28 21:45] trev-dev opened #231 "Dependency not on Melpa"
I am trying to install [ement.el](https://github.com/alphapapa/ement.el) which has a dependency of "taxy 0.9". This dependency does not exist on Melpa, but is on ELPA and non-gnu ELPA. Quelpa does not seem to be able to move past this. Is this working as intended?

[2022-05-31 05:25] steckerhalter commented on #230
Hi. To me it looks like Git isn't using the proxy. Can you check to clone the repo in a terminal?

[2022-05-31 05:28] steckerhalter commented on #229
subdirectories in what way? please include your use-case

[code]

are you using something like this?

[2022-05-31 05:35] steckerhalter commented on #231
hi. quelpa needs the dependency defined somewhere. it can't know that it is somewhere else on it's own. so you either install the dependency before element.el or you add the recipe for taxy to `quelpa-melpa-recipe-stores`

[2022-05-31 05:35] steckerhalter commented on #220
how's the status on this?

[2022-05-31 05:37] steckerhalter commented on #217
hi. it's a good idea. I'm leaving this ticket open in case anyone wants to do a PR with this feature... cheers

[2022-05-31 05:38] steckerhalter commented on #192
can we close this?

[2022-05-31 05:42] steckerhalter commented on #206
if you still get issues with this please reopen

[2022-05-31 05:42] #206 closed

[2022-05-31 05:46] steckerhalter commented on #199
please reopen if this is still an issue

[2022-05-31 05:46] #199 closed

[2022-05-31 09:36] wilya7 commented on #230
Of course, it is exactly as you guessed. I should have realized that. Closing the bug report.

[2022-05-31 13:06] #192 closed

[2022-05-31 21:39] trev-dev commented on #231
I installed it prior to ement. It's just weird to me that it just worked with Quelpa not that long ago. The dependency is not new, and it still exists on Elpa. It's the goal for Quelpa to be package.el friendly. It may be a good idea for it to look at the repositories already set up for dependencies as a fall back?

[2022-05-31 21:39] #231 closed

[2022-06-03 16:58] steckerhalter commented on #231
well the idea of quelpa is that the source code is used to build and install a packages (that's why it's called quelpa because "quelle" means source in german). if you want to install packages with the package manager you don't really need quelpa, or do you?

[2022-06-03 17:00] steckerhalter commented on #231
but I think you can use `use-package` to mix both and install certain dependencies if you intend to do this the way you describe

[2022-06-03 17:09] trev-dev commented on #231
After reflecting on this and your remarks I think I agree. Better to be explicit about a missing dependency on Melpa,  even though it exists in the official repository (Elpa).

I guess it just caught me a bit off guard. I pre-installed taxy ahead of time, problem is solved

[2022-06-16 12:13] domq opened #233 "Unable to install single-file, malformed package"
What I am trying to do:

[code]

What I expect: an autoinstalled, working `org-screen` package

What I get instead:

[code]

... And here is the stack trace when running with `toggle-debug-on-error`:

[code]

[2022-06-16 12:36] domq commented on #233
Issue exists in today's quelpa (checked out from Git master, using the recommended bootstrap method)

[2022-06-19 23:50] wyuenho opened #235 "Dependents need to recompile after installation"
There are packages such as [reformatter](https://github.com/purcell/emacs-reformatter) that uses macros  that a lot of other language-specific formatter such as `python-black` that rely on it. Due to how macros are compiled, if I modify the macro in reformatter in my fork, after installing my fork with quelpa, my other packages that depend on reformatter will still be using the old macro from upst

[2022-06-22 00:17] wyuenho commented on #235
This appears to be a package-install bug

[2022-06-22 00:18] #235 closed

[2022-07-01 14:02] LaurenceWarne opened #236 "Directory in :files Ignored with MELPA Recipe Format Example"
Hi, using the very last recipe example given in https://github.com/melpa/melpa/#example-multiple-files-in-multiple-directories:
[code]
Running:
[code]
Generates:
[code]
Whilst installing it from melpa generates:
[code]
I'm on Emacs 28.1 and I tried this on a fresh install of quelpa.

I assumed from the docs any melpa recipe would be compatible, alternatively please let me know if I'm doing somethi

[2022-07-13 09:04] lafirest commented on #229
Thanks for your reply, but I've forgotten the use case, so sorry

[2022-07-13 09:04] #229 closed, assigned to nobody

[2022-10-24 11:53] domq commented on #233
Any news?

[2022-10-25 03:59] steckerhalter commented on #233
hey I think the reason this fails is because org-screen.el does not contain `;;; org-screen.el ends here` at the end which is mandated by emacs in `package-buffer-info` and hence the installation fails when it check for the string:

[code]

it seems like this requirement will be phased out in emacs 31.1 but now it is still causing this error so the right solution now would be to fix the issue in t

[2022-10-26 10:23] domq commented on #233
I agree but I am in no position to proceed the way you suggest, since I am not the author of `org-screen.el`.

Please consider merging https://github.com/quelpa/quelpa/pull/239, which also fixes the issue? It seems to me that Quelpa already provides all the remediation needed for malformed packages.

[2022-10-26 13:01] steckerhalter commented on #233
hmm, well I'd prefer to keep the default this way so that malformed packages don't work out of the box. but if you add a flag in the options which has to be enabled to activate your code then we can merge it in...

[2022-11-09 05:23] steckerhalter commented on #236
hey yes that's odd... I think it should pick up the folder. could be a bug.

[2022-11-09 05:24] steckerhalter commented on #233
I'm going to close this. As said if you want the PR to be merged pleased add an option as said... thanks

[2022-11-09 05:24] #233 closed

[2022-11-09 05:24] steckerhalter commented on #220
closing because there was no reply

[2022-11-09 05:24] #220 closed

[2022-11-09 05:25] steckerhalter commented on #217
ok so I'm closing this... still think it would be a nice addition

[2022-11-09 05:25] #217 closed

[2022-11-09 05:26] steckerhalter commented on #197
@kiennq do you plan to work on this or shall we close it?

[2022-11-16 14:42] domq commented on #233
Hello @steckerhalter, please take another look at #239 — I hope that the new, much less intrusive fix doesn't require a guarding flag anymore.

[2022-11-29 03:26] pjj commented on #236
FWIW, I don't think this is a bug in quelpa code, but rather in its README file.  It appears that the directory snippets/ is under src/, so the correct recipe would be:
[code]

[2022-11-29 16:59] steckerhalter commented on #236
@LaurenceWarne can you try with the recipe suggested by @pjj ?

[2022-11-29 19:53] LaurenceWarne commented on #236
Yeah that works, thanks.  Perhaps it is just a documentation issue, it wasn't clear from me reading it whether the behaviour should always be consistent with melpa.

[2022-11-29 19:53] #236 closed